<div class="d-flex m{% if BOOTSTRAP_VERSION > 4 %}s{% else %}l{% endif %}-0 m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-3">

	<!-- *********************************************************************************************************** -->

	<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;" id="B8DD5CD8_7D69_2D12_033A_A7BB834F88D0">
		<ul class="nav nav-pills nav-flush flex-column text-center">
			<li class="nav-item" title="Home" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tooltip" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}trigger="hover" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}placement="right">
				<a class="nav-link {% if mode === 'home' %}active{% else %}xxxxxx{% endif %} border-bottom rounded-0 py-3" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=home">
					<i class="bi bi-layout-text-window-reverse" style="font-size: 1.25rem;"></i>
				</a>
			</li>
			<li class="nav-item" title="Config." data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tooltip" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}trigger="hover" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}placement="right">
				<a class="nav-link {% if mode === 'config' %}active{% else %}xxxxxx{% endif %} border-bottom rounded-0 py-3" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=config">
					<i class="bi bi-gear" style="font-size: 1.25rem;"></i>
				</a>
			</li>
			<li class="nav-item" title="Pages" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tooltip" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}trigger="hover" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}placement="right">
				<a class="nav-link {% if mode === 'pages' %}active{% else %}xxxxxx{% endif %} border-bottom rounded-0 py-3" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=pages">
					<i class="bi bi-file-earmark-richtext" style="font-size: 1.25rem;"></i>
				</a>
			</li>
			<li class="nav-item" title="Roles" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tooltip" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}trigger="hover" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}placement="right">
				<a class="nav-link {% if mode === 'roles' %}active{% else %}xxxxxx{% endif %} border-bottom rounded-0 py-3" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=roles">
					<i class="bi bi-hand-thumbs-up" style="font-size: 1.25rem;"></i>
				</a>
			</li>
			<li class="nav-item" title="Commands" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tooltip" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}trigger="hover" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}placement="right">
				<a class="nav-link {% if mode === 'commands' %}active{% else %}xxxxxx{% endif %} border-bottom rounded-0 py-3" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=commands">
					<i class="bi bi-code-slash" style="font-size: 1.25rem;"></i>
				</a>
			</li>
			<li class="nav-item" title="Users" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tooltip" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}trigger="hover" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}placement="right">
				<a class="nav-link {% if mode === 'users' %}active{% else %}xxxxxx{% endif %} border-bottom rounded-0 py-3" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=users">
					<i class="bi bi-people" style="font-size: 1.25rem;"></i>
				</a>
			</li>
			<li class="nav-item" title="Catalogs" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tooltip" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}trigger="hover" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}placement="right">
				<a class="nav-link {% if mode === 'catalogs' %}active{% else %}xxxxxx{% endif %} border-bottom rounded-0 py-3" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=catalogs">
					<i class="bi bi-hdd-network" style="font-size: 1.25rem;"></i>
				</a>
			</li>
		</ul>
	</div>

	<!-- *********************************************************************************************************** -->

	<div class="p{% if BOOTSTRAP_VERSION > 4 %}s{% else %}l{% endif %}-4" style="min-height: calc(100vh - 12.5rem); width: calc(100% - 4.5rem);" id="BCCE2136_3695_AB6F_4F08_3BD3C9035287"></div>

	<!-- *********************************************************************************************************** -->

</div>
