{% for dataset in DATASETS %}
<tr>
	<td class="text-center">
		<a href="#" onclick="event.preventDefault(); amiGlanceApp.removeDataset('{{dataset.LDN}}');">
			<i class="fa fa-trash"></i>
		</a>
	</td>
	<td>
		<span data-toggle="tooltip" data-title="prodsysStatus: {{dataset.PRODSYSSTATUS}}, completion: {{dataset.COMPLETION}}, amiStatus: {{dataset.AMISTATUS}}"><i class="fa fa-question-circle"></i></span> <span class="badge badge-{{dataset.COLOR}}">{{dataset.STATUS}}</span>
	</td>
	<td>
		{{dataset.LDN}}
	</td>
</tr>
{% endfor %}