{% for criteria in criterias %}
<tr class="mb-1 p-0">
	<td>
		<i class="fa fa-hand-o-up text-secondary" style="cursor: grab;"></i>
	</td>
	<td>
		<input type="text" class="form-control form-control-sm" name="name_{{cnt + loop.index0}}" value="{{criteria.name|e}}" id="A0B9B9D6_F2DF_ECB3_D40F_E832BF6ECF28_{{cnt + loop.index0}}" placeholder="Alias" />
	</td>
	<td>
		<select class="custom-select custom-select-sm" name="catalog_{{cnt + loop.index0}}" id="E3ACBBAC_D452_5B9A_4926_D8FEE356CD63_{{cnt + loop.index0}}" onchange="searchModelerApp.getEntities('#A4D2FD72_FF0A_3C87_B1CF_4A31331D3F8B_{{cnt + loop.index0}}', $('#E3ACBBAC_D452_5B9A_4926_D8FEE356CD63_{{cnt + loop.index0}}').val());"></select>
	</td>
	<td>
		<select class="custom-select custom-select-sm" name="entity_{{cnt + loop.index0}}" id="A4D2FD72_FF0A_3C87_B1CF_4A31331D3F8B_{{cnt + loop.index0}}" onchange="searchModelerApp.getFields('#A45F0216_6C35_19F3_2CEC_103A8536914F_{{cnt + loop.index0}}', $('#E3ACBBAC_D452_5B9A_4926_D8FEE356CD63_{{cnt + loop.index0}}').val(), $('#A4D2FD72_FF0A_3C87_B1CF_4A31331D3F8B_{{cnt + loop.index0}}').val());"></select>
	</td>
	<td>
		<select class="custom-select custom-select-sm" name="field_{{cnt + loop.index0}}" id="A45F0216_6C35_19F3_2CEC_103A8536914F_{{cnt + loop.index0}}"></select>
	</td>
	<td>
		<select class="custom-select custom-select-sm" name="type_{{cnt + loop.index0}}" id="F591F5A7_76BD_C010_8A37_3BD869CF0BB4_{{cnt + loop.index0}}">
			<option value="0"{% if criteria.type === '0'%} selected="selected"{% endif %}>text (few results)</option>
			<option value="1"{% if criteria.type === '1'%} selected="selected"{% endif %}>text (many results)</option>
			<option value="2"{% if criteria.type === '2'%} selected="selected"{% endif %}>number</option>
			<option value="3"{% if criteria.type === '3'%} selected="selected"{% endif %}>date</option>
			<option value="4"{% if criteria.type === '4'%} selected="selected"{% endif %}>boolean</option>
		</select>
	</td>
	<td style="text-align: center; width: 80px;">
		<button type="button" class="btn btn-sm btn-outline-secondary" onclick="searchModelerApp.editOptions2({{cnt + loop.index0}});">
			<i class="fa fa-flag text-primary"></i>
		</button>
		<button type="button" class="btn btn-sm btn-outline-secondary" onclick="if(confirm('Please confirm...')) { $(this).parent().parent().remove(); }">
			<i class="fa fa-trash text-danger"></i>
		</button>
	</td>

	<input type="hidden" name="more_{{cnt + loop.index0}}" value="{{(criteria.more or {})|json_encode()|e}}" id="C4AAADBC_C3B5_6DDC_851B_F06430CB4F6E_{{cnt + loop.index0}}" />

</tr>
{% endfor %}