<div class="card pull-left m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-2 mt-2 align-self-start" id="C12133EC_2A38_3545_0685_974260DCC950_Q{{cnt}}" style="min-width: 285px;">
	<div class="card-header d-flex justify-content-between align-items-center px-2 py-1">
		<div>
			<span class="text-success">Q{{cnt}}</span>: {{name|e}}
		</div>
		<div class="d-flex justify-content-end align-items-center">
			<span class="switch switch-sm switch-on-primary switch-off-secondary m{% if BOOTSTRAP_VERSION > 4 %}s{% else %}l{% endif %}-4">
			<input class="switch-not" type="checkbox" id="E24786B5_E704_FBED_4213_0F92AFA9FF3D_Q{{cnt}}" />
			<label for="E24786B5_E704_FBED_4213_0F92AFA9FF3D_Q{{cnt}}">
				<span class="text-primary">not</span>
			</label>
			</span>
			{% if isDefaultEntity !== true %}
				<span class="switch switch-sm switch-on-primary switch-off-secondary m{% if BOOTSTRAP_VERSION > 4 %}s{% else %}l{% endif %}-2">
				<input class="switch-andor" type="checkbox" id="C01884D4_BFF5_95A1_DF4A_632738289AC9_Q{{cnt}}" />
				<label for="C01884D4_BFF5_95A1_DF4A_632738289AC9_Q{{cnt}}">
					<span class="text-secondary">or</span>
					/
					<span class="text-primary">and</span>
				</label>
			</span>
			{% endif %}
			<button type="button" class="btn close box-close m{% if BOOTSTRAP_VERSION > 4 %}s{% else %}l{% endif %}-4 px-0" data-dismiss="box"><i class="bi bi-x-circle-fill"></i></button>
		</div>
	</div>
	<div class="card-body" style="padding: 0.5rem;">
		<select multiple="multiple" size="6" class="form-control" style="font-size: 13px;"></select>
		<div class="text-{% if BOOTSTRAP_VERSION > 4 %}end{% else %}right{% endif %}">
			#<span class="count">?</span>, limit: <span class="limit">?</span> <a href="#" class="show-less"><i class="bi bi-dash"></i></a>/<a href="#" class="show-more"><i class="bi bi-plus"></i></a>
		</div>
		<div class="input-group input-group-sm">
			<input type="text" class="form-control filter" placeholder="Filter, % for wildcarding" />
			{% if BOOTSTRAP_VERSION > 4 %}
			<button type="button" class="btn btn-secondary filter">Apply</button>
			{% else %}
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary filter">Apply</button>
			</div>
			{% endif %}
		</div>
	</div>
</div>
