<div class="card pull-left m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-2 mt-2 align-self-start" id="C12133EC_2A38_3545_0685_974260DCC950_Q{{cnt}}" style="min-width: 285px;">
	<div class="card-header d-flex align-items-center px-2 py-1">
		<div class="flex-grow-1">
			<span class="text-success">Q{{cnt}}</span>: {{name|e}}
		</div>
		{% if isDefaultEntity !== true %}
		<div class="m{% if BOOTSTRAP_VERSION > 4 %}s{% else %}l{% endif %}-3">
			<span class="switch switch-sm switch-on-primary switch-off-secondary">
				<input class="switch-andor" type="checkbox" id="CA11A4B4_D818_ABCC_1A11_E34ED1FB9B68_Q{{cnt}}" />
				<label for="CA11A4B4_D818_ABCC_1A11_E34ED1FB9B68_Q{{cnt}}">
					<span class="text-secondary">or</span>
					/
					<span class="text-primary">and</span>
				</label>
			</span>
		</div>
		{% endif %}
		<div class="m{% if BOOTSTRAP_VERSION > 4 %}s{% else %}l{% endif %}-3">
			<span class="switch switch-sm switch-on-primary switch-off-secondary">
				<input class="switch-not" type="checkbox" id="FB989AD3_A627_4802_BC77_883B50D28C80_Q{{cnt}}" />
				<label for="FB989AD3_A627_4802_BC77_883B50D28C80_Q{{cnt}}">
					<span class="text-primary">not</span>
				</label>
			</span>
		</div>
		<div class="m{% if BOOTSTRAP_VERSION > 4 %}s{% else %}l{% endif %}-3">
			<button type="button" class="btn close box-close px-0" type="button" data-dismiss="box"><i class="bi bi-x-circle-fill"></i></button>
		</div>
	</div>
	<div class="card-body" style="padding: 0.5rem;">
		<select class="form-control value" multiple="multiple" size="6" disabled="disabled" style="font-size: 13px;"></select>
		<div class="text-{% if BOOTSTRAP_VERSION > 4 %}end{% else %}right{% endif %}">
			#<span class="count">?</span>, limit: <span class="limit">?</span> <a href="#" class="show-less"><i class="bi bi-dash"></i></a>/<a href="#" class="show-more"><i class="bi bi-plus"></i></a>
		</div>
		<div class="input-group input-group-sm">
			<input type="text" class="form-control filter" placeholder="Filter, % for wildcarding" />
			{% if BOOTSTRAP_VERSION > 4 %}
			<button type="button" class="btn btn-secondary filter">Apply</button>
			{% else %}
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary filter">Apply</button>
			</div>
			{% endif %}
		</div>
	</div>
</div>
