{% if card %}
<div class="card-header" id="{{ id }}_heading">
	<button class="btn btn-link" data-toggle="collapse" data-target="#{{ id }}_collapse">
		{{ item_title }}
	</button>
</div>
<div id="{{ id }}_collapse" class="collapse">
	<div class="card-body" id="{{ id }}_content">
		{{ item_content }}
	</div>
</div>
{% else %}
<button class="btn btn-link" data-toggle="collapse" data-target="#{{ id }}_collapse">
	{{ item_title }}
</button>
<div id="{{ id }}_collapse" class="collapse">
	<div class="card-body" id="{{ id }}_content">
		{{ item_content }}
	</div>
</div>
{% endif %}