<div class="card" id="{{id}}">
	<div class="card-header{% if clazz %} {{ clazz|e }}{% endif %}" style="padding-left: 0px; padding-top: 1px; padding-bottom: 1px;">
		<div class="row align-items-center">
			<div class="col-md-6">
				<button class="btn btn-link text-left w-100" data-toggle="collapse" data-target="#{{id}}_collapse">
					{{title}}
				</button>
			</div>
			{% if extraTitle or closable%}
			<div class="col-md-6">
				<div class="d-flex justify-content-between w-100">
					{% if extraTitle %}
					{{extraTitle}}
					{% endif %}
					{% if closable %}
					<button type="button" class="close">
						&times;
					</button>
					{% endif %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="card-body collapse p-1" id="{{id}}_collapse"></div>
</div>