<div class="card{% if clazz %} {{ clazz|e }}{% endif %}" id="{{id}}">
	<div class="card-header" style="padding-left: 0px; padding-top: 1px; padding-bottom: 1px;">
		<button class="btn btn-link" data-toggle="collapse" data-target="#{{id}}_collapse">
			{{title}}
		</button>
		{% if closable %}
		<button type="button" class="close" style="position: relative; padding-top: 6.5px;">
			&times;
		</button>
		{% endif %}
	</div>
	<div class="card-body collapse p-1" id="{{id}}_collapse"></div>
</div>