<div class="card" id="{{ id|e }}">

	<div class="card-header{% if clazz %} {{ clazz|e }}{% endif %}" style="padding-left: 0px; padding-top: 1px; padding-bottom: 1px;">

		<div class="row align-items-center">
			<div class="col-md-6">
				<button class="btn btn-link text-{% if BOOTSTRAP_VERSION > 4 %}start{% else %}left{% endif %} w-100" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="collapse" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}target="#{{ id|e }}_collapse">
					{{ title|e }}
				</button>
			</div>
			<div class="col-md-6">
				<div class="justify-content-between">
					<div>
						{% if extraTitle %}{{ extraTitle }}{% endif %}
					</div>
					<div>
						{% if closable %}<i class="bi bi-x"></i>{% endif %}
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="card-body collapse p-1" id="{{ id|e }}_collapse"></div>

</div>
