<table>
	<tr>
		<td class="align-top">
			<div class="card">
				<div class="card-header text-center" style="font-family: 'Open Sans Light'; font-size: 14pt; padding: 3px;">
					Metadata
				</div>
				<div class="card-body" style="padding: 0;">
					<table class="table table-sm table-striped table-bordered mb-0">
						{% if elementRowset is not empty %}
						{%   for elementRow in elementRowset %}
						{%     for field in elementRow.field %}
						{%       if (showEmptyFields or (field.$ is not empty and field.$ != 'N/A' and field.$ is defined)) and (field['@name'] !== 'PROJECT' and field['@name'] !== 'PROCESS' and field['@name'] !== 'AMIENTITYNAME' and field['@name'] !== 'AMIELEMENTID' and field['@name'] !== 'AMICREATED' and field['@name'] !== 'AMILASTMODIFIED' and field['@name'] !== 'AMISYSDATE') %}
						<tr>
							<td class="text-left">
								<strong>{{field['@name']|e}}</strong>
							</td>
							<td class="text-center">
								{{field.$|e}}
								{% if field['link'] is defined %}
								<br />{% for link in field['link'] %}{% if not loop.first %} - {% endif %}<a href="{{link['@href']|e}}" target="_blank">{{link['@label']|e}}</a>{% endfor %}</td>
								{% endif %}
							</td>
						</tr>
						{%       endif %}
						{%     endfor %}
						{%   endfor %}
						{% else %}
						<tr>
							<td class="text-center text-warning">empty element</td>
						</tr>
						{% endif %}
					</table>
				</div>
			</div>
		</td>
		<td>&nbsp</td>
		<td class="align-top">
			<div class="card">
				<div class="card-header text-center" style="font-family: 'Open Sans Light'; font-size: 14pt; padding: 3px;">
					Linked Entities
				</div>
				<div class="card-body" style="padding: 0;" id="B8275C83_776D_57AC_5379_70DC7391AD5A">
					<table class="table table-sm table-striped table-bordered mb-0">
						{% if linkedElementRowset is not empty %}
						{%   for linkedElementRow in linkedElementRowset %}
						<tr>
							<td class="text-center"><a href="#" data-action="linked_element" data-catalog="{{linkedElementRow | json_jspath('..field{.@name==="catalog"}.$')[0] | e}}" data-entity="{{linkedElementRow | json_jspath('..field{.@name==="entity"}.$')[0] | e}}" data-mql="{{linkedElementRow | json_jspath('..field{.@name==="mql"}.$')[0] | e}}">{{linkedElementRow | json_jspath('..field{.@name==="entity"}.$')[0] | e}}</a></td>
							<td class="text-center">{{linkedElementRow | json_jspath('..field{.@name==="count"}.$')[0] | e}} records</td>
						</tr>
						{%   endfor %}
						{% else %}
						<tr>
							<td class="text-center">no linked element</td>
						</tr>
						{% endif %}
					</table>
				</div>
			</div>
			{% if expandedLinkedElements is not empty %}
			{%   for expandedLinkedElement in expandedLinkedElements %}

					<div class="card mt-1">
						<div class="card-header text-center" style="font-family: 'Open Sans Light'; font-size: 14pt; padding: 3px;">
							{{ expandedLinkedElement.entity }}
						</div>
					</div>

			{%   endfor %}
			{% endif %}
		</td>
	</tr>
</table>