<table>
	<tr>
		<td class="align-top">

			<!-- ******************************************************** -->

			<div class="card">
				<div class="card-header text-center" style="font-family: 'Open Sans Light'; font-size: 14pt; padding: 3px;">
					Metadata
				</div>
				<div class="card-body p-0">
					<table class="table table-sm table-striped table-bordered mb-0">
						{% if elementRowset is not empty %}
						{%   for row in elementRowset %}
						{%     for field in row.field %}
						{%       if (showEmptyFields or (field.$ is not empty and field.$ != '@NULL' and field.$ != 'N/A')) and (field['@name'] !== 'PROJECT' and field['@name'] !== 'PROCESS' and field['@name'] !== 'AMIENTITYNAME' and field['@name'] !== 'AMIELEMENTID' and field['@name'] !== 'AMICREATED' and field['@name'] !== 'AMILASTMODIFIED' and field['@name'] !== 'AMISYSDATE') %}
						<tr>
							<td class="text-left">
								<strong>{{field['@name']|e}}</strong>
							</td>
							<td class="text-center">
								{% if field.$ starts with '@OWNER::' %}
								<a href="#" data-action="filter" data-filter-def="{{field.$|slice(8)|e}}">
									<i class="fa fa-link"></i>
								</a>
								{% elseif field.$ === '@NOGO' %}
								<div class="font-italic text-danger">admin only</div>
								{% else %}
								<div style="min-height: 21px; padding-left: 6px; padding-right: 6px;"
								     {% if field['properties'] is defined %}
								     {%   if field['properties']['@id'] is not empty %}id="{{field['properties']['@id']|e}}"{% endif %}
								     {%   if field['properties']['@class'] is not empty %}class="{{field['properties']['@class']|e}}"{% endif %}
								     {%   if field['properties']['@unitName'] is not empty %}data-unit-name="{{field['properties']['@unitName']|e}}"{% endif %}
								     {%   if field['properties']['@unitFactor'] is not empty %}data-unit-factor="{{field['properties']['@unitFactor']|e}}"{% endif %}
								     {%   if field['properties']['@unitBase'] is not empty %}data-unit-base="{{field['properties']['@unitBase']|e}}"{% endif %}
								     {%   if field['properties']['@humanReadable'] is not empty %}data-human-readable="{{field['properties']['@humanReadable']|e}}"{% endif %}
								     {% endif %}
								     data-action="edit" data-catalog="{{fieldDescriptions[loop.index0]['@catalog']|e}}"
								     data-entity="{{fieldDescriptions[loop.index0]['@entity']|e}}"
								     data-field="{{fieldDescriptions[loop.index0]['@field']|e}}"
								     data-type="{{fieldDescriptions[loop.index0]['@type']|e}}"
								     data-row="{{primaryFieldValue|e}}"
									{% if fieldDescriptions[loop.index0]['@displayable'] === 'true' %}
								     >
									<a href="#" data-ctrl="{{fieldDescriptions[loop.index0]['@ctrl']}}" data-ctrl-location="container" data-params="[&quot;{{fieldDescriptions[loop.index0]['@catalog']|e('js')|e('html')}}&quot;,&quot;{{fieldDescriptions[loop.index0]['@entity']|e('js')|e('html')}}&quot;,&quot;{{primaryFieldName|e('js')|e('html')}}&quot;,&quot;{{primaryFieldValue|e('js')|e('html')}}&quot;,&quot;{{field['@name']|e('js')|e('html')}}&quot;,&quot;{{fieldDescriptions[loop.index0]['@base64']|e('js')|e('html')}}&quot;,&quot;{{fieldDescriptions[loop.index0]['@mime']|e('js')|e('html')}}&quot;]" data-settings="{}" data-icon="picture-o" data-title="media"><i class="fa fa-search-plus"></i> {{fieldDescriptions[loop.index0]['@mime']|e}}</a>
									{% else %}
								     data-val="{{field.$|e}}">
									{%   if (field.$|length) > 64 %}
									<a href="#" class="view-more" data-ctrl="textBox" data-ctrl-location="body" data-params="[&quot;{{field.$|e('js')|e('html')}}&quot;]" data-settings="{}"><i class="fa fa-search-plus"></i></a> {{field.$|slice(0, 64)|e}}…
									{%   else %}
									{{field.$|e}}
									{%   endif %}
									{% endif %}
								</div>
								{%   if field['links'] is defined %}
								{%     for link in field['links'] %}
								{%       if not loop.first %} - {% endif %}
								<a href="{{link['@href']|e}}"
								   {% if link['@target'] is not empty %}target="{{link['@target']|e}}"{% endif %}
								   {% if link['@id'] is not empty %}id="{{link['@id']|e}}"{% endif %}
								   {% if link['@class'] is not empty %}class="{{link['@class']|e}}"{% endif %}
								   {% if link['@data-ctrl'] is not empty %}data-ctrl="{{link['@data-ctrl']|e}}"{% endif %}
								   {% if link['@data-ctrl-location'] is not empty %}data-ctrl-location="{{link['@data-ctrl-location']|e}}"{% endif %}
								   {% if link['@data-params'] is not empty %}data-params="{{link['@data-params']|e}}"{% endif %}
								   {% if link['@data-settings'] is not empty %}data-settings="{{link['@data-settings']|e}}"{% endif %}
								   {% if link['@data-icon'] is not empty %}data-icon="{{link['@data-icon']|e}}"{% endif %}
								   {% if link['@data-title'] is not empty %}data-title="{{link['@data-title']|e}}"{% endif %}>
									{{link['@label']|e}}
								</a>
								{%     endfor %}
								{%   endif %}
								{% endif %}
							</td>
						</tr>
						{%       endif %}
						{%     endfor %}
						{%   endfor %}
						{% else %}
						<tr>
							<td class="text-center text-warning">empty element</td>
						</tr>
						{% endif %}
					</table>
				</div>
			</div>

			<!-- ******************************************************** -->

		</td>

		<td>&nbsp</td>

		<td class="align-top">

			<!-- ******************************************************** -->

			<div class="card">
				<div class="card-header text-center" style="font-family: 'Open Sans Light'; font-size: 14pt; padding: 3px;">
					Linked Entities
				</div>
				<div class="card-body p-0" id="B8275C83_776D_57AC_5379_70DC7391AD5A">
					<table class="table table-sm table-striped table-bordered mb-0">
						{% if linkedElementRowset is not empty %}
						{%   for row in linkedElementRowset %}
						<tr>
							<td class="text-center">
								{% if     (row|json_jspath('..field{.@name==="direction"}.$')[0]) === 'forward' %}
								<i class="fa fa-long-arrow-right" data-toggle="tooltip" data-placement="top" data-title="forward foreign key"></i>
								{% elseif (row|json_jspath('..field{.@name==="direction"}.$')[0]) === 'backward' %}
								<i class="fa fa-long-arrow-left" data-toggle="tooltip" data-placement="top" data-title="backward foreign key"></i>
								{% elseif (row|json_jspath('..field{.@name==="direction"}.$')[0]) === 'bridge' %}
								<i class="fa fa-exchange" data-toggle="tooltip" data-placement="top" data-title="bridge"></i>
								{% endif %}
							</td>
							<td class="text-center">
								<a href="#" data-ctrl="table" data-ctrl-location="container" data-params="[&quot;BrowseQuery -catalog=\&quot;{{row|json_jspath('..field{.@name==="catalog"}.$')[0]|e('js')|e('html')}}\&quot; -entity=\&quot;{{row|json_jspath('..field{.@name==="entity"}.$')[0]|e('js')|e('html')}}\&quot; -mql=\&quot;{{row|json_jspath('..field{.@name==="mql"}.$')[0]|e('js')|e('html')}}\&quot;&quot;]" data-settings="{&quot;catalog&quot;:&quot;{{row|json_jspath('..field{.@name==="catalog"}.$')[0]|e('js')|e('html')}}&quot;,&quot;entity&quot;:&quot;{{row|json_jspath('..field{.@name==="entity"}.$')[0]|e('js')|e('html')}}&quot;,&quot;orderBy&quot;:&quot;&quot;,&quot;orderWay&quot;:&quot;&quot;}" data-icon="table" data-title="{{row|json_jspath('..field{.@name==="entity"}.$')[0]|e}}">
									<span data-toggle="tooltip" data-boundary="window" data-title="via {{row|json_jspath('..field{.@name==="constraint"}.$')[0]|e}}">
										{{row|json_jspath('..field{.@name==="entity"}.$')[0]|e}}
									</span>
								</a>
							</td>
							<td class="text-center">
								{{row|json_jspath('..field{.@name==="count"}.$')[0]|e}} record(s)
							</td>
						</tr>
						{%   endfor %}
						{% else %}
						<tr>
							<td class="text-center">no linked entity</td>
						</tr>
						{% endif %}
					</table>
				</div>
			</div>

			<!-- ******************************************************** -->

			{% if expandedLinkedElements is not empty %}
			{%   for expandedLinkedElement in expandedLinkedElements %}
			{%     if expandedLinkedElement.rows is not empty %}
			<div class="card mt-1">
				<div class="card-header text-center" style="font-family: 'Open Sans Light'; font-size: 14pt; padding: 3px;">
					{{expandedLinkedElement.entity}}
				</div>
			</div>
			<div class="card-body p-0">
				<table class="table table-sm table-striped table-bordered mb-0">
					{% if expandedLinkedElement.keyValMode === true %}
					{%   for row in expandedLinkedElement.rows %}
					<tr>
						{% for field in expandedLinkedElement.fields %}
						<td class="text-center">{{row|json_jspath('..field{.@name==="' + field + '"}.$')[0]|e}}</td>
						{% endfor %}
					</tr>
					{%   endfor %}
					{% else %}
					{%   for row in expandedLinkedElement.rows %}
					{%     for field in row.fields %}
					<tr>
						<td class="text-center">{{field|e}}</td>
						<td class="text-center">{{row|json_jspath('..field{.@name==="' + field + '"}.$')[0]|e}}</td>
					</tr>
					{%     endfor %}
					{%   endfor %}
					{% endif %}
				</table>
			</div>
			{%     endif %}
			{%   endfor %}
			{% endif %}

			<!-- ******************************************************** -->
		</td>
	</tr>
</table>