<script type="text/javascript" src="{{ORIGIN_URL}}/js/ami.min.js?embedded"></script>

<script type="text/javascript">

	var myElementInfo;

	amiWebApp.onRefresh = function(isAuth) {

		if(isAuth)
		{
			myElementInfo.render('#myElementInfo', '{{catalog|e('js')}}', '{{entity|e('js')}}', '{{primaryFieldName|e('js')}}', '{{primaryFieldValue|e('js')}}', {
				expandedLinkedElements: [{{expandedLinkedElements|join(', ')|e}}],
				enableCache: {{enableCache}},
				showToolBar: {{showToolBar}},
				showDetails: {{showDetails}},
				showTools: {{showTools}},
				canEdit: {{canEdit}},
				start: {{start}},
				stop: {{stop}},
				maxCellLength: {{maxCellLength|e('js')}},
				card: {{card}},
			});
		}
		else
		{
			$('#myElementInfo').empty();
		}
	};

	amiWebApp.onReady = function() {

		return amiWebApp.loadResources(['ctrl:elementInfo']).done(function(ctrls) {

			myElementInfo = new ctrls[0];
		});
	};

	amiWebApp.start({
		endpoint_url: '{{endpoint}}'
	});

</script>

<div class="clearfix">
	<div class="nav navbar-nav" id="ami_login_content"></div>
</div>

<div id="ami_alert_content"></div>

<div id="myElementInfo"></div>