<script type="text/javascript" src="{{ORIGIN_URL}}/js/jquery.min.js"></script>

<script type="text/javascript" src="{{ORIGIN_URL}}/js/ami.min.js?bootstrap={{BOOTSTRAP_VERSION}}&embedded"></script>

<script type="text/javascript">

	var myTable;

	amiWebApp.onRefresh = function(isAuth) {

		if(isAuth)
		{
			myTable.render('#myTable', '{{ command|e('js') }}', {
				customLabelsFragment: '{{ customLabelsFragment|e('js') }}',
				customInputsFragment: '{{ customInputsFragment|e('js') }}',
				customHTMLsFragment: '{{ customHTMLsFragment|e('js') }}',
				/**/
				expandedLinkedElements: [{{ expandedLinkedElements|join(', ')|e('js') }}],
				/**/
				enableCache: {{ enableCache }},
				enableCount: {{ enableCount }},
				enableEditMode: {{ enableEditMode }},
				/**/
				hideBigContent: {{ hideBigContent }},
				/**/
				showPrimaryField: {{ showPrimaryField }},
				showToolBar: {{ showToolBar }},
				showDetails: {{ showDetails }},
				showTools: {{ showTools }},
				showEditTools: {{ showEditTools }},
				canEdit: {{ canEdit }},
				/**/
				catalog: '{{ catalog|e('js') }}',
				entity: '{{ entity|e('js') }}',
				primaryField: '{{ primaryField|e('js') }}',
				rowset: '{{ rowset|e('js') }}',
				/**/
				groupBy: '{{ groupBy|e('js') }}',
				start: {{ start }},
				stop: {{ stop }},
				orderBy: '{{ orderBy|e('js') }}',
				orderWay: '{{ orderWay|e('js') }}',
				/**/
				maxCellLength: {{ maxCellLength }},
				/**/
				card: {{ card }},
			});
		}
		else
		{
			$('#myTable').empty();
		}
	};

	amiWebApp.onReady = function() {

		return amiWebApp.loadResources(['ctrl:table']).done(function(ctrls) {

			myTable = new ctrls[0];
		});
	};

	amiWebApp.start({
		endpoint_url: '{{ endpoint }}'
	});

</script>

<!-- Add your own style -->
<ul id="ami_login_menu_content"></ul>

<div id="myTable"></div>
