<!-- *************************************************************************************************************** -->

{% if showToolBar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-top border py-0">

	{% if BOOTSTRAP_VERSION > 4 %}
	<div class="container-fluid">
	{% endif %}

		<a class="navbar-brand" href="#" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tooltip" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}placement="bottom" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}title="{{ catalog|default('N/A')|e }}.{{ entity|default('N/A')|e }}">
			<i class="bi bi-info-circle"></i>
		</a>

		<button class="navbar-toggler border-0" type="button" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="collapse" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}target="#EEA19C95_12AF_AAE3_250B_282C4E61F9A9_{{ cnt }}">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="EEA19C95_12AF_AAE3_250B_282C4E61F9A9_{{ cnt }}">

			<div class="d-flex m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-2">

				<div class="input-group">
					{% if BOOTSTRAP_VERSION > 4 %}
					<button class="btn btn-outline-secondary" type="button" data-ami-op="goFirst">
						<i class="bi bi-chevron-bar-left"></i>
					</button>
					<button class="btn btn-outline-secondary" type="button" data-ami-op="goPrevious">
						<i class="bi bi-chevron-left"></i>
					</button>
					{% else %}
					<div class="input-group-prepend">
						<button class="btn btn-outline-secondary" type="button" data-ami-op="goFirst">
							<i class="bi bi-chevron-bar-left"></i>
						</button>
						<button class="btn btn-outline-secondary" type="button" data-ami-op="goPrevious">
							<i class="bi bi-chevron-left"></i>
						</button>
					</div>
					{% endif %}
					<input class="form-control ami-table-start" type="text" value="{{start}}" pattern="[0-9]+" style="width: 50px" />
					<span class="input-group-text{% if BOOTSTRAP_VERSION <= 4 %} border-left-0 border-right-0 rounded-0{% endif %} px-1"><i class="bi bi-dash"></i></span>
					<input class="form-control ami-table-stop" type="text" value="{{stop}}" pattern="[0-9]+" style="width: 50px" />
					{% if BOOTSTRAP_VERSION > 4 %}
					<button class="btn btn-outline-secondary" type="button" data-ami-op="goNext">
						<i class="bi bi-chevron-right"></i>
					</button>
					<button class="btn btn-outline-secondary" type="button" data-ami-op="goLast">
						<i class="bi bi-chevron-bar-right"></i>
					</button>
					{% else %}
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" data-ami-op="goNext">
							<i class="bi bi-chevron-right"></i>
						</button>
						<button class="btn btn-outline-secondary" type="button" data-ami-op="goLast">
							<i class="bi bi-chevron-bar-right"></i>
						</button>
					</div>
					{% endif %}
				</div>

			</div>

			<div class="d-flex m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-2">

				<input class="form-control m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-2" type="search" data-ami-op="filter" placeholder="Filter..." />

				<button class="btn btn-outline-secondary" type="button" data-ami-op="refresh">
					<i class="bi bi-arrow-repeat"></i>
				</button>

			</div>

			{% if canEdit %}
			<div class="d-flex m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-2">

				<span class="switch switch-on-warning switch-off-secondary m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-2 my-1">
					<input type="checkbox" id="E50A7387_3939_07E2_176D_25DE7B3A344F" data-ami-op="edit"{% if enableEditMode %} checked="checked"{% endif %} />
					<label class="text-nowrap" for="E50A7387_3939_07E2_176D_25DE7B3A344F">
						<span class="text-secondary">view</span>
						/
						<span class="text-warning">edit</span>
					</label>
				</span>

				<button class="btn btn-outline-{% if enableEditMode %}warning{% else %}secondary{% endif %}" type="button" data-ami-op="add">
					<i class="bi bi-plus-lg"></i>
				</button>

			</div>
			{% endif %}

			<ul class="navbar-nav m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-2">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="dropdown">
						Export
					</a>
					<ul class="dropdown-menu ami-table-export">
						{% for converter in converters %}
						<a class="dropdown-item" href="#" ami-table-op="export" ami-table-xslt="{{ converter.xslt|e }}" ami-table-mime="{{ converter.mime|e }}">{{ converter.mime|e }}</a>
						{% endfor %}
					</ul>
				</li>
			</ul>

			<ul class="navbar-nav m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-2">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="dropdown">
						More
					</a>
					<ul class="dropdown-menu ami-table-more">
						<a href="#" class="dropdown-item" ami-table-op="viewSQL">View SQL query</a>
						<a href="#" class="dropdown-item" ami-table-op="viewMQL">View MQL query</a>
						<a href="#" class="dropdown-item" ami-table-op="viewCmd">View command</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item" ami-table-op="viewES5">View JavaScript</a>
					</ul>
				</li>
			</ul>

			<span class="navbar-text m{% if BOOTSTRAP_VERSION > 4 %}s{% else %}l{% endif %}-auto m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-2">
				<span class="ami-table-shown"></span> of <span class="ami-table-total"></span> entries</span>
			</span>

			<span class="navbar-text m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-2">
				<button class="btn btn-link" type="button" ami-table-op="bookmark" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tooltip" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}placement="bottom" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}title="Bookmark this result">
					<i class="bi bi-star-fill text-secondary"></i>
				</button>
			</span>

			<span class="navbar-text m{% if BOOTSTRAP_VERSION > 4 %}e{% else %}r{% endif %}-0">
				<button class="btn btn-link" type="button" ami-table-op="dashboard" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tooltip" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}placement="bottom" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}title="Add to dashboard">
					<i class="bi bi-speedometer text-secondary"></i>
				</button>
			</span>

		</div>

	{% if BOOTSTRAP_VERSION > 4 %}
	</div>
	{% endif %}

</nav>
{% endif %}

<!-- *************************************************************************************************************** -->

<table class="table table-sm table-hover table-striped table-bordered w-100"></table>

<!-- *************************************************************************************************************** -->
