<div style="margin-top: 20px;">
{% if rows is not empty %}

<div class="alert alert-success" role="alert" style="text-align:center">
  {% if rows.length == 1 %}
  <strong> Total: {{rows.length}} result found for "{{search}}" </strong>
  {% else %}
  <strong> Total: {{rows.length}} results found for "{{search}}" </strong>
  {% endif %}
</div>

<table style="margin-top: 20px;" class="table table-sm table-striped">
  <thead>
    <tr>
    {% for row in rows|slice(0,1) %}
    {%   for field in row.field %}
        {% if field['@name'] == 'AMILOGIN2' or field['@name'] == 'ISADMIN' or field['@name'] == 'USERID' %}
        {% else %}
      <th scope="col">{{field['@name']}}</th>
        {% endif %}
    {% endfor %}
    {% endfor %}
    <th scope="col">Administrator</th>
    </tr>
  </thead>
  <tbody>

  {% for row in rows %}
  <tr>
  {%   for field in row.field %}
  {% if field['@name'] == 'ISADMIN' %}
  {%    if field.$ == 0 %}
  {%            set isAdmin = false %}
  {%    else %}
  {%            set isAdmin = true %}
  {%    endif %}
  {% elseif field['@name'] == 'USERID' %}
  {%        set userid = field.$ %}
  {% elseif field['@name'] == 'AMILOGIN2' %}
  <td>
    <div class="form-inline mr-sm-2 my-2 my-lg-0">
          <input type="checkbox" id="C05B8BBC_B1E1_F19B_102C_2BF6FBC33A37_{{ userid }}" onchange="datasetWhiteBoardAdminApp.actionAdmin('{{ field.$ }}',{{userid}})" {% if (isAdmin) %} checked="checked" {% endif %}"
                                 data-width="150"
                                 data-user="{{field.$}}"
                                 data-admin={{isAdmin}}
                                 data-size="small"
                                 data-toggle="toggle"
                                 data-onstyle="outline-success"
                                 data-offstyle="outline-danger"
                                 data-on="&lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;&nbsp;isAdmin"
                                 data-off="&lt;i class=&quot;fa fa-close&quot;&gt;&lt;/i&gt;&nbsp;notAdmin"
          /></td>
  {% elseif field['@name'] == 'ISSUERND'%}
        <td><button type="button" class="btn btn-outline-secondary btn-sm" data-container="body" data-toggle="popover" title="{{field['@name']}}" data-placement="top" data-content="{{field.$}}">Show DN</button></td>
  {% elseif field['@name'] == 'CLIENTDN'%}
        <td><button type="button" class="btn btn-outline-secondary btn-sm" data-container="body" data-toggle="popover" title="{{field['@name']}}" data-placement="top" data-content="{{field.$}}">Show DN</button></td>
  {% else %}
              <td>{{field.$}}</td>
  {% endif %}
  {% endfor %}

  </tr>
        {% endfor %}
  </tbody>
</table>
{% else %}
        <div class="alert alert-danger" role="alert" style="text-align:center">
                <strong> No results found for "{{search}}"</strong>
        </div>
{% endif %}
</div>
