<!-- *************************************************************************************************************** -->

<style>

.icon-square {
	align-items: center;
	border-radius: .75rem;
	display: inline-flex;
	font-size: 1.5rem;
	justify-content: center;
	width: 3rem;
	height: 3rem;
}

</style>

<!-- *************************************************************************************************************** -->

<div class="card">

	<div class="card-body g-4 row row-cols-1 row-cols-md-2 row-cols-lg-4">
		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-gear" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2>Config.</h2>
				<p>Server node configuration</p>
				<a class="btn btn-primary" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=config">
					<i class="bi bi-arrow-right-circle-fill"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-file-earmark-richtext" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2>Pages</h2>
				<p>Content Management System</p>
				<a class="btn btn-primary" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=pages">
					<i class="bi bi-arrow-right-circle-fill"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-hand-thumbs-up" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2>Roles</h2>
				<p>Role definition</p>
				<a class="btn btn-primary" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=roles">
					<i class="bi bi-arrow-right-circle-fill"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-code-slash" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2>Commands</h2>
				<p>Command administration</p>
				<a class="btn btn-primary" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=commands">
					<i class="bi bi-arrow-right-circle-fill"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-people" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2>Users</h2>
				<p>User administration</p>
				<a class="btn btn-primary" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=users">
					<i class="bi bi-arrow-right-circle-fill"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-hdd-network" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2>Catalogs</h2>
				<p>Catalog administration</p>
				<a class="btn btn-primary" href="{{ WEBAPP_URL }}?subapp=adminDashboard&userdata=catalogs">
					<i class="bi bi-arrow-right-circle-fill"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-bezier2" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2>Schema viewer</h2>
				<p>Schema viewer / editor</p>
				<a class="btn btn-success" href="{{ WEBAPP_URL }}?subapp=schemaViewer" target="_blank">
					<i class="bi bi-box-arrow-up-right"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-magic" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2>Search modeler</h2>
				<p>Search interface modeler</p>
				<a class="btn btn-success" href="{{ WEBAPP_URL }}?subapp=searchModeler" target="_blank">
					<i class="bi bi-box-arrow-up-right"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-speedometer" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2>Node monitoring</h2>
				<p>Server node monitoring</p>
				<a class="btn btn-success" href="{{ WEBAPP_URL }}?subapp=nodeMonitoring" target="_blank">
					<i class="bi bi-box-arrow-up-right"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-speedometer" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2>Task monitoring</h2>
				<p>Task server node monitoring</p>
				<a class="btn btn-success" href="{{ WEBAPP_URL }}?subapp=taskMonitoring" target="_blank">
					<i class="bi bi-box-arrow-up-right"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-node-red" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2>Node-RED</h2>
				<p>Event-driven programming</p>
				<a class="btn btn-success" href="{{ nodeRedURL|e }}" target="_blank">
					<i class="bi bi-box-arrow-up-right"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col d-flex align-items-start{% if BOOTSTRAP_VERSION < 5 %} mb-4{% endif %}">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<i class="bi bi-book-half" style="font-size: 2rem;"></i>
			</div>
			<div>
				<h2><span style="font-family: 'Trochut';">AMI</span> API</h2>
				<p><span style="font-family: 'Trochut';">AMI</span> API documentation</p>
				<a class="btn btn-success" href="{{ WEBAPP_URL }}?subapp=document&userdata=api.html" target="_blank">
					<i class="bi bi-box-arrow-up-right"></i> Go
				</a>
			</div>
		</div>

		<!-- ******************************************************************************************************* -->
	</div>

</div>

<!-- *************************************************************************************************************** -->

<div class="alert alert-light p-2 my-1">

	<div class="row">
		<!-- ******************************************************************************************************* -->

		<div class="col-md-3 text-{% if BOOTSTRAP_VERSION > 4 %}end{% else %}right{% endif %}">
			Bootstrap version: <span class="badge {% if BOOTSTRAP_VERSION > 4 %}bg{% else %}badge{% endif %}-primary" id="FCA2B6DC_3239_838D_A109_91F164524987"></span>
			<br />
			JQuery version: <span class="badge {% if BOOTSTRAP_VERSION > 4 %}bg{% else %}badge{% endif %}-primary" id="F8D580E4_05F1_0317_9F3F_E4BA7AB99D3E"></span>
		</div>
		<div class="col-md-3 text-{% if BOOTSTRAP_VERSION > 4 %}end{% else %}right{% endif %}">
			AMI-Twig.js version: <span class="badge {% if BOOTSTRAP_VERSION > 4 %}bg{% else %}badge{% endif %}-primary" id="ACA527B0_4581_8292_DB2A_22C900E621A0"></span>
			<br />
			Vue.js version: <span class="badge {% if BOOTSTRAP_VERSION > 4 %}bg{% else %}badge{% endif %}-primary" id="D9C3541F_3534_1312_4C08_F22962C05347"></span>
		</div>

		<!-- ******************************************************************************************************* -->

		<div class="col-md-3 text-{% if BOOTSTRAP_VERSION > 4 %}end{% else %}right{% endif %}">
			<span style="font-family: 'Trochut';">AMI</span>-Core version: <span class="badge {% if BOOTSTRAP_VERSION > 4 %}bg{% else %}badge{% endif %}-primary" id="F1FA8298_F283_E0C4_A9F6_74C8EB2E4762"></span>
			<br />
			<span style="font-family: 'Trochut';">AMI</span>-Core commit id: <span class="badge {% if BOOTSTRAP_VERSION > 4 %}bg{% else %}badge{% endif %}-primary" id="A8F46B0F_4657_09B7_BB0D_6B4434FD79A3"></span>
		</div>
		<div class="col-md-3 text-{% if BOOTSTRAP_VERSION > 4 %}end{% else %}right{% endif %}">
			<span style="font-family: 'Trochut';">AMI</span>-Web version: <span class="badge {% if BOOTSTRAP_VERSION > 4 %}bg{% else %}badge{% endif %}-primary" id="E15C9F8C-A955-2643-196B-BBF3317D1616"></span>
			<br />
			<span style="font-family: 'Trochut';">AMI</span>-Web commit id: <span class="badge {% if BOOTSTRAP_VERSION > 4 %}bg{% else %}badge{% endif %}-primary" id="A47094A8-3D38-666B-E542-2C88AC486E1D"></span>
		</div>

		<!-- ******************************************************************************************************* -->
	</div>

</div>

<!-- *************************************************************************************************************** -->
