<h1>Commands</h1>

{% if commands is not empty %}
<div class="table-responsive">
	<table class="table table-sm table-striped">
		<thead>
			<tr>
				<th>Command</th>
				<th>Visible</th>
				<th>Secured</th>
			</tr>
		</thead>
		<tbody>
			{% for id in ids %}
			<tr>
				<td>
					{{commands[id].command|e}}
				</td>
				<td>
					<span class="switch switch-sm switch-on-primary switch-off-secondary">
						<input type="checkbox" id="E2EE0224_4207_4B46_4AA2_4F4082B713B6_0_{{loop.index0}}" {% if commands[id].visible !== '0' %}checked="checked"{% else %}xxxxxxx="xxxxxxx"{% endif %} data-change-visible="{{id|e}}" />
						<label for="E2EE0224_4207_4B46_4AA2_4F4082B713B6_0_{{loop.index0}}"></label>
					</span>
				</td>
				<td>
					<span class="switch switch-sm switch-on-primary switch-off-secondary">
						<input type="checkbox" id="E2EE0224_4207_4B46_4AA2_4F4082B713B6_1_{{loop.index0}}" {% if commands[id].secured !== '0' %}checked="checked"{% else %}xxxxxxx="xxxxxxx"{% endif %} data-change-secured="{{id|e}}" />
						<label for="E2EE0224_4207_4B46_4AA2_4F4082B713B6_1_{{loop.index0}}"></label>
					</span>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<select class="w-100" multiple="multiple" data-change-role="{{commands[id].command|e}}">
						{% for role in roles %}
						<option {% if role in commands[id].roles %}selected="selected"{% else %}xxxxxxxx="xxxxxxxx"{% endif %}>{{role|e}}</option>
						{% endfor %}
					</select>
					<br />
					<small data-change-command-class="{{id|e}}">
						<span class="badge badge-primary">Java command class</span>
						<span class="value">{{commands[id].clazz|e}}</span>
					</small>
					<br />
					<small data-change-role-validator-class="{{id|e}}">
						<span class="badge badge-warning">Java role validator class</span>
						<span class="value">{{commands[id].roleValidatorClazz|e}}</span>
					</small>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
No result found.
{% endif %}
