<h1>Commands</h1>

{% if rolesForCommands is not empty %}
<div class="table-responsive">
	<table class="table table-sm table-striped">
		<thead>
			<tr>
				<th>Command</th>
				<th>Visible</th>
				<th>Secured</th>
			</tr>
		</thead>
		<tbody>
			{% for command in rolesForCommands|keys %}
			<tr>
				<td>
					{{rolesForCommands[command].command|e}}
				</td>
				<td>
					<span class="switch switch-sm switch-primary">
						<input type="checkbox" id="E2EE0224_4207_4B46_4AA2_4F4082B713B6_0_{{loop.index0}}" {% if rolesForCommands[command].visible !== '0' %}checked="checked"{% else %}xxxxxxx="xxxxxxx"{% endif %} data-admin-visible="{{rolesForCommands[command].command|e}}" />
						<label for="E2EE0224_4207_4B46_4AA2_4F4082B713B6_0_{{loop.index0}}"></label>
					</span>
				</td>
				<td>
					<span class="switch switch-sm switch-primary">
						<input type="checkbox" id="E2EE0224_4207_4B46_4AA2_4F4082B713B6_1_{{loop.index0}}" {% if rolesForCommands[command].secured !== '0' %}checked="checked"{% else %}xxxxxxx="xxxxxxx"{% endif %} data-admin-secured="{{rolesForCommands[command].command|e}}" />
						<label for="E2EE0224_4207_4B46_4AA2_4F4082B713B6_1_{{loop.index0}}"></label>
					</span>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<select class="w-100" multiple="multiple" data-admin-role="{{rolesForCommands[command].command|e}}">
						{% for role in roles %}
						<option {% if role in rolesForCommands[command].roles %}selected="selected"{% else %}xxxxxxxx="xxxxxxxx"{% endif %}>{{role|e}}</option>
						{% endfor %}
					</select>
					<br />
					<small data-admin-class="{{rolesForCommands[command].command|e}}">
						<span class="badge badge-primary">Java class</span>
						<span class="value">{{rolesForCommands[command].clazz|e}}</span>
					</small>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
No result found.
{% endif %}