<div class="toast mb-2" role="alert" {% if fadeOut %}data-bs-delay="60000"{% else %}data-bs-autohide="false"{% endif %} data-hash="{{ hash }}" data-cnt="1">
	<div class="toast-header py-1">
		<strong class="me-auto text-{{ clazz|e }}">{{ title|e }}</strong>
		<small>{{ date|e }}</small>
		<button class="btn btn-link text-muted p-0 ms-2" type="button" data-bs-dismiss="toast">
			<i class="bi bi-x-circle"></i>
		</button>
	</div>
	<div class="toast-body">
		{{ message|e }}
	</div>
</div>
