<div class="toast" role="alert" {% if fadeOut %}data-delay="60000"{% else %}data-autohide="false"{% endif %} data-hash="{{ hash }}" data-cnt="1">
	<div class="toast-header">
		<strong class="me-auto text-{{ clazz|e }}">{{ title|e }}</strong>
		<small class="me-2">{{ date|e }}</small>
		<button class="ms-1 me-0 btn-close" type="button" data-bs-dismiss="toast"></button>
	</div>
	<div class="toast-body">
		{{ message|e }}
	</div>
</div>
