{% for item in items %}
{%   if profile !== '_bookmarkProfile' or item.expire === '0' %}
<div class="d-flex" data-id="{{ item.id|e }}">

	<span class="flex-shrink-1" style="cursor: grab;">
		<i class="bi bi-hand-index-thumb text-secondary {% if BOOTSTRAP_VERSION > 4 %}me-2{% else %}mr-2{% endif %}"></i>
	</span>

	<span class="w-100" style="cursor: pointer;" onclick="bookmarkEditorApp.select(bookmarkEditorApp.{{ profile|e }}, '{{ item.id|e }}');">
		{{ item.name|e }}
	</span>

	<span class="flex-shrink-1" style="cursor: pointer;">
		{% if profile === '_bookmarkProfile' %}
		<a href="{{WEBAPP_URL}}?v={{ item.hash|e }}" target="_blank" style="white-space: nowrap;">
			<i class="bi bi-link-45deg"></i> goto
		</a>
		{% elseif profile === '_dashboardProfile' %}
		<a href="{{WEBAPP_URL}}?u={{ item.hash|e }}" target="_blank" style="white-space: nowrap;">
			<i class="bi bi-link-45deg"></i> goto
		</a>
		{% endif %}
	</span>

</div>
{%   endif %}
{% endfor %}
