<div class="card pull-left mr-2 mt-2 align-self-start" id="C12133EC_2A38_3545_0685_974260DCC950_Q{{cnt}}" style="min-width: 285px;">
	<div class="card-header" style="padding: 0.5rem;">
		<span class="text-success">Q{{cnt}}</span>: {{name|e}}
		<button type="button" class="close box-close ml-1" data-dismiss="box"><i class="fa fa-times-circle"></i></button>
		<button type="button" class="close box-question ml-1" data-toggle="tooltip" data-title="hello"><i class="fa fa-question-circle"></i></button>
	</div>
	<div class="card-body text-center" style="padding: 0.5rem;">
		<input type="checkbox" data-toggle="toggle" data-size="small" data-width="260" data-offstyle="outline-secondary" data-onstyle="outline-success" data-off="{{ states.off | default('false') }}" data-on="{{ states.on | default('true') }}"{% if select === states.on %} checked="checked"{% endif %} />
	</div>
</div>