<div class="card pull-left mr-2 mt-2 align-self-start" id="C12133EC_2A38_3545_0685_974260DCC950_Q{{cnt}}" style="min-width: 285px;">
	<div class="card-header" style="padding: 0.5rem;">
		<span class="text-success">Q{{cnt}}</span>: {{name|e}}
		<button type="button" class="close box-close ml-1" data-dismiss="box"><i class="fa fa-times-circle"></i></button>
		<button type="button" class="close box-question ml-1" data-toggle="tooltip" data-title="hello"><i class="fa fa-question-circle"></i></button>
		<span class="switch switch-sm switch-on-primary switch-off-secondary float-right">
			<input type="checkbox" id="F85E166D-2527-752B-C6A2-C0222A41E4F1_Q{{cnt}}" />
			<label for="F85E166D-2527-752B-C6A2-C0222A41E4F1_Q{{cnt}}">
				<span class="text-secondary">IN</span>
				/
				<span class="text-primary">! IN</span>
			</label>
		</span>
	</div>
	<div class="card-body" style="padding: 0.5rem;">
		<table style="width: 100%;">
			<tr class="form-group">
				<td><label for="AF5A97D2_E1E1_CED6_F4B0_31C1127CB96A_Q{{cnt}}">Min:</label>&nbsp;</td>
				<td><input type="number" step="any" class="form-control form-control-sm min" id="AF5A97D2_E1E1_CED6_F4B0_31C1127CB96A_Q{{cnt}}" /></td>
			</tr>
			<tr class="form-group">
				<td><label for="D653324C_887D_9766_B0C8_E9D5E5B7D8B4_Q{{cnt}}">Max:</label>&nbsp;</td>
				<td><input type="number" step="any" class="form-control form-control-sm max" id="D653324C_887D_9766_B0C8_E9D5E5B7D8B4_Q{{cnt}}" /></td>
			</tr>
		</table>
		<div class="text-right">
			<a href="#" class="set">set</a> - <a href="#" class="reset">reset</a>
		</div>
	</div>
</div>