<div class="card pull-left mr-2 mt-2 align-self-start" id="C12133EC_2A38_3545_0685_974260DCC950_Q{{cnt}}" style="min-width: 285px;">
	<div class="card-header" style="padding: 0.5rem;">
		<span class="text-success">Q{{cnt}}</span>: {{name|e}}
		<button type="button" class="close box-close ml-1" data-dismiss="box"><i class="fa fa-times-circle"></i></button>
		<span class="switch switch-sm switch-on-primary switch-off-secondary float-right">
			<input type="checkbox" id="C9B3B342_BDCF_BE03_A77C_432D749727C8_Q{{cnt}}" />
			<label for="C9B3B342_BDCF_BE03_A77C_432D749727C8_Q{{cnt}}">
				<span class="text-secondary">or</span>
				/
				<span class="text-primary">and</span>
			</label>
		</span>
	</div>
	<div class="card-body" style="padding: 0.5rem;">
		<select class="custom-select custom-select-sm form-control-sm key mb-2" style="font-size: 13px;"></select>
		<select class="form-control form-control-sm value" multiple="multiple" size="6" style="font-size: 13px;" disabled="disabled"></select>
		<div class="text-right">
			#<span class="count">?</span>
		</div>
		<div class="input-group input-group-sm">
			<input type="text" class="form-control filter" placeholder="Filter, % for wildcarding" />
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary filter">Apply</button>
			</div>
		</div>
	</div>
</div>