<div class="card pull-left mr-2 mt-2 align-self-start" id="C12133EC_2A38_3545_0685_974260DCC950_Q{{cnt}}" style="min-width: 285px;">
	<div class="card-header" style="padding: 0.5rem;">
		<span class="text-success">Q{{cnt}}</span>: {{name|e}}
		<button type="button" class="close box-close ml-1" data-dismiss="box"><i class="fa fa-times-circle"></i></button>
		<button type="button" class="close box-question ml-1" data-toggle="tooltip" data-title="hello"><i class="fa fa-question-circle"></i></button>
		<span style="float: right;">
			<input type="checkbox" data-toggle="toggle" data-size="mini" data-width="64" data-height="24" data-offstyle="outline-secondary" data-onstyle="outline-secondary" data-off="in" data-on="! in" />
		</span>
	</div>
	<div class="card-body" style="padding: 0.5rem;">
		<table style="width: 100%;">
			<tr class="form-group">
				<td><label for="C544B6D2_1760_FA8E_F86A_743863BEC84C_Q{{cnt}}">Min:</label>&nbsp;</td>
				<td><input type="text" class="form-control form-control-sm timedate min" id="C544B6D2_1760_FA8E_F86A_743863BEC84C_Q{{cnt}}" /></td>
			</tr>
			<tr class="form-group">
				<td><label for="E2792017_2A7E_FA9B_5DA0_7D820F85CBF8_Q{{cnt}}">Max:</label>&nbsp;</td>
				<td><input type="text" class="form-control form-control-sm timedate max" id="E2792017_2A7E_FA9B_5DA0_7D820F85CBF8_Q{{cnt}}" /></td>
			</tr>
		</table>
		<div class="text-right">
			<a href="#" class="set">set</a> - <a href="#" class="reset">reset</a>
		</div>
	</div>
</div>