{% for info in fieldInfo %}
{%   if ((filter is not empty) and (info.field === (((filter)))))
        or
        ((filter   is   empty) and (info.field !== primaryField))
%}

{%     set rand = random() %}
{%     set name = info.field %}
{%     set type = getSQLType(info.type) %}
{%     set value = values[info.field] or info.def %}

<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item ml-auto">
		<div class="nav-link{% if value === '@NULL' %} active{% endif %}" role="tab">
			<a href="#F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" data-action="changesqltype" data-sql-type="@NULL">
				NULL
			</a>
		</div>
	</li>
	<li class="nav-item ml-xxxx">
		<div class="nav-link{% if value !== '@NULL' %} active{% endif %}" role="tab">
			<a href="#F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" data-action="changesqltype" data-sql-type="{{type}}">
				{% if     type === 'NUMBER' %}
				Number
				{% elseif type === 'TIMESTAMP' %}
				TimeStamp
				{% elseif type === 'DATETIME' %}
				DateTime
				{% elseif type === 'DATE' %}
				Date
				{% elseif type === 'TIME' %}
				Time
				{% elseif type === 'ENUM' %}
				Enum
				{% elseif type === 'LONG_TEXT' %}
				Long text
				{% elseif type === 'SHORT_TEXT' %}
				Short text
				{% endif %}
			</a>
			<a class="dropdown-toggle" href="#" data-toggle="dropdown"></a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" role="tab" data-action="changesqltype" data-sql-type="NUMBER">Number{% if type === 'NUMBER' %}<sup>default</sup>{% endif %}</a>
				<a class="dropdown-item" href="#F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" role="tab" data-action="changesqltype" data-sql-type="TIMESTAMP">TimeStamp{% if type === 'TIMESTAMP' %}<sup>default</sup>{% endif %}</a>
				<a class="dropdown-item" href="#F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" role="tab" data-action="changesqltype" data-sql-type="DATETIME">DateTime{% if type === 'DATETIME' %}<sup>default</sup>{% endif %}</a>
				<a class="dropdown-item" href="#F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" role="tab" data-action="changesqltype" data-sql-type="DATE">Date{% if type === 'DATE' %}<sup>default</sup>{% endif %}</a>
				<a class="dropdown-item" href="#F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" role="tab" data-action="changesqltype" data-sql-type="TIME">Time{% if type === 'TIME' %}<sup>default</sup>{% endif %}</a>
				<a class="dropdown-item" href="#F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" role="tab" data-action="changesqltype" data-sql-type="ENUM">Enum{% if type === 'ENUM' %}<sup>default</sup>{% endif %}</a>
				<a class="dropdown-item" href="#F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" role="tab" data-action="changesqltype" data-sql-type="LONG_TEXT">Long text{% if type === 'LONG_TEXT' %}<sup>default</sup>{% endif %}</a>
				<a class="dropdown-item" href="#F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" role="tab" data-action="changesqltype" data-sql-type="SHORT_TEXT">Short text{% if type === 'SHORT_TEXT' %}<sup>default</sup>{% endif %}</a>
			</div>
		</div>
	</li>
</ul>

<div class="form-group mb-1 row">

	<label class="col-sm-3 col-form-label" for="F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}">{{name|e}}</label>

	<div class="col-sm-9">
		{% if value === '@NULL' %}
		<input class="form-control form-control-sm" type="text" name="{{name|e}}" value="{{value|e}}" readonly="readonly" id="F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" />
		{% elseif type === 'NUMBER' %}
		<input class="form-control form-control-sm" type="number" name="{{name|e}}" value="{{value|e}}" step="any" id="F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" />
		{% elseif type === 'TIMESTAMP' %}
		<input class="form-control form-control-sm" type="text" name="{{name|e}}" value="{{value|e}}" id="F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]*" />
		{% elseif type === 'DATETIME' %}
		<input class="form-control form-control-sm" type="text" name="{{name|e}}" value="{{value|e}}" id="F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]*" />
		{% elseif type === 'DATE' %}
		<input class="form-control form-control-sm" type="text" name="{{name|e}}" value="{{value|e}}" id="F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
		{% elseif type === 'TIME' %}
		<input class="form-control form-control-sm" type="text" name="{{name|e}}" value="{{value|e}}" id="F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]*" />
		{% elseif type === 'ENUM' %}
		<select class="custom-select custom-select-sm" name="{{name|e}}" id="F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}">{{ getSQLTypeToEnumOptions(info.type, value) }}</select>
		{% elseif type === 'LONG_TEXT' %}
		<textarea class="form-control form-control-sm" name="{{name|e}}" rows="6" id="F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}">{{value|e}}</textarea>
		{% elseif type === 'SHORT_TEXT' %}
		<input class="form-control form-control-sm" type="text" name="{{name|e}}" value="{{value|e}}" id="F6E6F7A4_5096_9F54_0726_60CCFE19FB4A_{{rand}}" />
		{% endif %}
	</div>

</div>

{%   endif %}
{% endfor %}