<div class="row">
	<!-- **************************************************************** -->

	<div class="col-xl-3">
		<div class="card mb-4">
			<div class="card-body pr-2">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-file-text-o fa-4x text-primary"></i>
					</div>
					<div class="col-8 text-xs-right">
						Configuration
						<br />
						<i class="fa fa-slack"></i> <span id="F38F2C33_FD2B_0947_D711_D07C095AED8C"></span>
					</div>
				</div>
			</div>
			<a class="card-footer text-right" href="{{WEBAPP_URL}}?subapp=adminDashboard&userdata=config">
				<i class="fa fa-arrow-circle-right fa-2x"></i>
			</a>
		</div>
	</div>

	<!-- **************************************************************** -->

	<div class="col-xl-3">
		<div class="card mb-4">
			<div class="card-body pr-2">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-thumbs-o-up fa-4x text-primary"></i>
					</div>
					<div class="col-8 text-xs-right">
						Roles
						<br />
						<i class="fa fa-slack"></i> <span id="B86F861D_ECA4_8CF4_1ABC_30EFF044A03F"></span>
					</div>
				</div>
			</div>
			<a class="card-footer text-right" href="{{WEBAPP_URL}}?subapp=adminDashboard&userdata=roles">
				<i class="fa fa-arrow-circle-right fa-2x"></i>
			</a>
		</div>
	</div>

	<!-- **************************************************************** -->

	<div class="col-xl-3">
		<div class="card mb-4">
			<div class="card-body pr-2">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-cogs fa-4x text-primary"></i>
					</div>
					<div class="col-8 text-xs-right">
						Commands
						<br />
						<i class="fa fa-slack"></i> <span id="B1969A3F_D9F3_DEA2_E351_53A827AECA72"></span>
					</div>
				</div>
			</div>
			<a class="card-footer text-right" href="{{WEBAPP_URL}}?subapp=adminDashboard&userdata=commands">
				<i class="fa fa-arrow-circle-right fa-2x"></i>
			</a>
		</div>
	</div>

	<!-- **************************************************************** -->

	<div class="col-xl-3">
		<div class="card mb-4">
			<div class="card-body pr-2">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-user-o fa-4x text-primary"></i>
					</div>
					<div class="col-8 text-xs-right">
						Users
						<br />
						<i class="fa fa-slack"></i> <span id="CFC83907_4194_F600_8191_C0DEB7CADF25"></span>
					</div>
				</div>
			</div>
			<a class="card-footer text-right" href="{{WEBAPP_URL}}?subapp=adminDashboard&userdata=users">
				<i class="fa fa-arrow-circle-right fa-2x"></i>
			</a>
		</div>
	</div>

	<!-- **************************************************************** -->
</div>

<div class="row">
	<!-- **************************************************************** -->

	<div class="col-xl-3">
		<div class="card mb-4">
			<div class="card-body pr-2">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-database fa-4x text-primary"></i>
					</div>
					<div class="col-8 text-xs-right">
						Catalogs
						<br />
						<i class="fa fa-slack"></i> <span id="BC9730FE_4458_C523_2F43_2B16F0671E7E"></span>
					</div>
				</div>
			</div>
			<a class="card-footer text-right" href="{{WEBAPP_URL}}?subapp=adminDashboard&userdata=catalogs">
				<i class="fa fa-arrow-circle-right fa-2x"></i>
			</a>
		</div>
	</div>

	<!-- **************************************************************** -->

	<div class="col-xl-3">
		<div class="card mb-4">
			<div class="card-body pr-2">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-search fa-4x text-secondary"></i>
					</div>
					<div class="col-8 text-xs-right">
						Schema Viewer
						<br />
						<small>external tool</small>
					</div>
				</div>
			</div>
			<a class="card-footer text-right" href="{{WEBAPP_URL}}?subapp=schemaViewer" target="_blank">
				<i class="fa fa-link fa-2x"></i>
			</a>
		</div>
	</div>

	<!-- **************************************************************** -->

	<div class="col-xl-3">
		<div class="card mb-4">
			<div class="card-body pr-2">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-area-chart fa-4x text-secondary"></i>
					</div>
					<div class="col-8 text-xs-right">
						Monitoring
						<br />
						<small>external tool</small>
					</div>
				</div>
			</div>
			<a class="card-footer text-right" href="{{WEBAPP_URL}}?subapp=monitoring" target="_blank">
				<i class="fa fa-link fa-2x"></i>
			</a>
		</div>
	</div>

	<!-- **************************************************************** -->

	<div class="col-xl-3">
		<div class="card mb-4">
			<div class="card-body pr-2">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-clock-o fa-4x text-secondary"></i>
					</div>
					<div class="col-8 text-xs-right">
						Task Servers
						<br />
						<small>external tool</small>
					</div>
				</div>
			</div>
			<a class="card-footer text-right" href="{{WEBAPP_URL}}?subapp=taskServerAdmin" target="_blank">
				<i class="fa fa-link fa-2x"></i>
			</a>
		</div>
	</div>

	<!-- **************************************************************** -->
</div>

<div class="card mb-4">
	<div class="card-body text-right py-2">
		<span style="font-family: 'Trochut';">AMI</span> version: <span class="badge badge-primary" id="F1FA8298_F283_E0C4_A9F6_74C8EB2E4762"></span>
		<br />
		<span style="font-family: 'Trochut';">AMI</span> commit id: <span class="badge badge-primary" id="A8F46B0F_4657_09B7_BB0D_6B4434FD79A3"></span>
	</div>
</div>

<div class="alert alert-info text-center" role="alert">
	Host name: <strong id="B2BE4D58_BE5D_F374_BE74_BE6C4384B125">N/A</strong>,
	nb of cores: <strong id="C4889AE7_CB06_DE89_1297_B9FF7C9C8BA1">N/A</strong>,
	disk: <strong id="FCD9CCC9_65EA_092F_B715_C1C49255943F">N/A</strong> MBytes,
	memory: <strong id="A1A836FF_D465_1A2C_B045_AC691EEF0812">N/A</strong> MBytes
	<button type="button" class="btn btn-sm btn-info" onclick="adminDashboardApp.subsubapp.reflesh()" style="position: absolute; top: 8px; right: 8px;">refresh</button>
</div>

<div class="row">
	<div class="col-md-6 text-center" style="padding-left: 10%; padding-right: 10%;">
		<canvas id="F6D24B37_F159_CB36_2D51_466740F9588E"></canvas>
	</div>
	<div class="col-md-6 text-center" style="padding-left: 10%; padding-right: 10%;">
		<canvas id="D058BCEF_2903_2D9D_837F_0B5C8858011D"></canvas>
	</div>
</div>