<div class="modal fade" id="D2B5FADE_97A3_4B8C_8561_7A9AEACDBE5B">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">AMI authentication</h4>
			</div>
			<div class="modal-body" style="margin-bottom: -16px;">
				<div id="4A634334_ED84_4565_A2B3_618ADFDF1E9B"></div>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#8008BBBC_FF0D_481C_8AF0_3DCF7D6A1676" data-toggle="tab">Sign In</a></li>
					<li class="xxxxxx"><a href="#2D609FA7_9BA6_4B0B_A0F2_094403F81E7D" data-toggle="tab">Need an account?</a></li>
					<li class="xxxxxx"><a href="#DA2047A2_9E5D_420D_B6E7_FA261D2EF10F" data-toggle="tab">Forgot my password</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<form class="tab-pane active" id="8008BBBC_FF0D_481C_8AF0_3DCF7D6A1676">
					<div class="modal-body">
						<div class="row">
							<div class="col-md-2">
								<img src="{{ORIGIN_URL}}/images/padlock.png" alt="" height="90" width="90" />
							</div>
							<div class="col-md-10">
								<div class="form-group">
									<label for="87D39A00_39D9_453B_8D8C_12B403F9268F" class="control-label">Login<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="user" id="87D39A00_39D9_453B_8D8C_12B403F9268F" required="required" placeholder="Type your login..." />
								</div>
								<div class="form-group">
									<label for="6E06F758_BF71_4DBA_AF8A_2F137F1ABD1D" class="control-label">Password<span class="text-danger">*</span></label>
									<input type="password" class="form-control" name="pass" id="6E06F758_BF71_4DBA_AF8A_2F137F1ABD1D" required="required" placeholder="Type your password..." />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Password Login</button>
						<div class="btn-group">
							<button type="button" class="btn btn-primary" onclick="amiLogin.form_login();">Certificate Login</button>
							<span class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-wrench"></i>
								<i class="fa fa-caret-down"></i>
							</span>
							<ul class="dropdown-menu">
								<li><a href="javascript:amiLogin.form_attachCert();">Attach Certificate</a></li>
								<li><a href="javascript:amiLogin.form_detachCert();">Detach Certificate</a></li>
							</ul>
						</div>
					</div>
				</form>
				<form class="tab-pane xxxxxx" id="2D609FA7_9BA6_4B0B_A0F2_094403F81E7D">
					<div class="modal-body">
						<div class="row">
							<div class="col-md-2">
								<img src="{{ORIGIN_URL}}/images/padlock.png" alt="padlock" height="90" width="90" />
							</div>
							<div class="col-md-10">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="646E34FE_DFB3_4BE1_A860_168BD595F97E" class="control-label">First name<span class="text-danger">*</span></label>
											<input type="text" class="form-control" name="first_name" id="646E34FE_DFB3_4BE1_A860_168BD595F97E" required="required" placeholder="Type your first name..." />
										</div>
										<div class="form-group">
											<label for="A9A08864_6A32_45A4_8898_C167564DB8BB" class="control-label">Login<span class="text-danger">*</span></label>
											<input type="text" class="form-control" name="login" id="A9A08864_6A32_45A4_8898_C167564DB8BB" required="required" placeholder="Choose a login..." />
										</div>
										<div class="form-group">
											<label for="56CE3A89_05AC_46F2_811B_D0D8DBAECEB3" class="control-label">Password<span class="text-danger">*</span></label>
											<input type="password" class="form-control" name="pass" id="56CE3A89_05AC_46F2_811B_D0D8DBAECEB3" required="required" placeholder="Choose a password..." />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group ">
											<label for="39287067_75F8_419D_9B20_409E1B141D38" class="control-label">Last name<span class="text-danger">*</span></label>
											<input type="text" class="form-control" name="last_name" id="39287067_75F8_419D_9B20_409E1B141D38" required="required" placeholder="Type your last name..." />
										</div>
										<div class="form-group">
											<label for="12DA94D6_8B52_4FCC_AEED_937BAAE0BF9C" class="control-label">Email<span class="text-danger">*</span></label>
											<input type="email" class="form-control" name="email" id="12DA94D6_8B52_4FCC_AEED_937BAAE0BF9C" required="required" placeholder="Type your email..." />
										</div>
										<div class="form-group">
											<label for="CCD8E6F1_6DF8_4BDD_A0EC_C3C380830187" class="control-label">Password<span class="text-danger">*</span></label>
											<input type="password" class="form-control" name="xxxx" id="CCD8E6F1_6DF8_4BDD_A0EC_C3C380830187" required="required" placeholder="Type your password again..." />
										</div>
									</div>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" name="attach" id="A09AE316_7068_4BC1_96A9_6B87D28863FE" checked="checked" /> Attach your current certificat
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Create</button>
					</div>
				</form>
				<form class="tab-pane xxxxxx" id="DA2047A2_9E5D_420D_B6E7_FA261D2EF10F">
					<div class="modal-body">
						<div class="row">
							<div class="col-md-2">
								<img src="{{ORIGIN_URL}}/images/padlock.png" alt="padlock" height="90" width="90" />
							</div>
							<div class="col-md-10">
								<div class="form-group">
									<label for="13AEF361_DF3E_461F_A989_2BFDA00BCD05" class="control-label">Login<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="user" id="13AEF361_DF3E_461F_A989_2BFDA00BCD05" required="required" placeholder="Type your login..." />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Remind</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<form class="modal fade" id="46A4D44F_BCE4_4407_AB70_194347BFC12C">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Change Information</h4>
			</div>
			<div class="modal-body">
				<div id="C76F40DA_0480_4D3F_A74B_65735465EA25"></div>
				<div class="row">
					<div class="col-md-2">
						<img src="{{ORIGIN_URL}}/images/padlock.png" alt="" height="90" width="90" />
					</div>
					<div class="col-md-10">
						<div class="form-group">
							<label for="E513F27D_5521_4B08_BF61_52AFB81356F7" class="control-label">First name<span class="text-danger">*</span></label>
							<input type="text" class="form-control" name="first_name" id="E513F27D_5521_4B08_BF61_52AFB81356F7" required="required" placeholder="Type your first name..." />
						</div>
						<div class="form-group ">
							<label for="113C64A6_3B10_4671_B941_17C2281A43B6" class="control-label">Last name<span class="text-danger">*</span></label>
							<input type="text" class="form-control" name="last_name" id="113C64A6_3B10_4671_B941_17C2281A43B6" required="required" placeholder="Type your last name..." />
						</div>
						<div class="form-group">
							<label for="83B6FEE5_2BAF_4F47_BCB3_1F475A1A1117" class="control-label">Email<span class="text-danger">*</span></label>
							<input type="email" class="form-control" name="email" id="83B6FEE5_2BAF_4F47_BCB3_1F475A1A1117" required="required" placeholder="Type your email..." />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</form>
<form class="modal fade" id="0CD4F500_5EEA_49AF_8853_225572FDC2E7">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Change Password</h4>
			</div>
			<div class="modal-body">
				<div id="F14D98EC_5751_4C15_B4A1_927BA76AFCA6"></div>
				<div class="row">
					<div class="col-md-2">
						<img src="{{ORIGIN_URL}}/images/padlock.png" alt="" height="90" width="90" />
					</div>
					<div class="col-md-10">
						<div class="form-group">
							<label for="F238E6EE_44BD_486A_B85D_C927A4D045D3" class="control-label">Old password<span class="text-danger">*</span></label>
							<input type="password" class="form-control form-control-sm" name="old_pass" id="F238E6EE_44BD_486A_B85D_C927A4D045D3" required="required" placeholder="Type your old password..." />
						</div>
						<div class="form-group">
							<label for="D487FE72_8D95_4048_BEA3_252274862AF4" class="control-label">New password<span class="text-danger">*</span></label>
							<input type="password" class="form-control form-control-sm" name="new_pass" id="D487FE72_8D95_4048_BEA3_252274862AF4" required="required" placeholder="Choose a new password..." />
						</div>
						<div class="form-group">
							<label for="9A355DC8_88EF_4438_BAB3_BB7BAD798A77" class="control-label">New password<span class="text-danger">*</span></label>
							<input type="password" class="form-control form-control-sm" name="xxxxxxxx" id="9A355DC8_88EF_4438_BAB3_BB7BAD798A77" required="required" placeholder="Type your new password again..." />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</form>
<div class="modal fade" id="AB1CB183_96EB_4116_8A9E_4409BE058F34">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Account Status</h4>
			</div>
			<div class="modal-body">
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#B89A9E2D_8969_41F4_B266_230B782FA17D" data-toggle="tab">Status</a></li>
						<li class="xxxxxx"><a href="#F22A8AD8_08EB_434C_B6F8_DC92FC0F69AC" data-toggle="tab">Information</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="B89A9E2D_8969_41F4_B266_230B782FA17D">
							<div class="ami-guilloche">
								<div style="font-size: 22pt;">your account is</div>
								<div id="07D7B8B9_2A2E_4C1A_9DE8_A7970956798D" style="font-size: 48pt;"></div>
								<div style="font-size: 22pt;">* the AMI team *</div>
							</div>
						</div>
						<div class="tab-pane xxxxxx" id="F22A8AD8_08EB_434C_B6F8_DC92FC0F69AC">
							<div class="form-horizontal">
								<div class="form-group form-group-sm">
									<label for="215C261E_5DFB_4AC5_85C5_3D3D8C210B82" class="col-sm-3 control-label" style="font-weight: normal;">First name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="215C261E_5DFB_4AC5_85C5_3D3D8C210B82" readonly="readonly" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label for="2DC4C04B_8701_4C50_9D0F_F135D91DA9CE" class="col-sm-3 control-label" style="font-weight: normal;">Last name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="2DC4C04B_8701_4C50_9D0F_F135D91DA9CE" readonly="readonly" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label for="431ABB43_415D_4564_9F7E_BC8048602120" class="col-sm-3 control-label" style="font-weight: normal;">Email</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="431ABB43_415D_4564_9F7E_BC8048602120" readonly="readonly" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label for="0902CF2E_7A3B_476E_A03B_875FD8928996" class="col-sm-3 control-label" style="font-weight: normal;">Client certificate DN in account</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="0902CF2E_7A3B_476E_A03B_875FD8928996" readonly="readonly" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label for="50CDFAB2_A81D_4772_871A_70F40AEC1C77" class="col-sm-3 control-label" style="font-weight: normal;">Client certificate DN is session</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="50CDFAB2_A81D_4772_871A_70F40AEC1C77" readonly="readonly" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label for="F42FAF6B_2C8D_4142_8BD9_E5BCDCAA05AA" class="col-sm-3 control-label" style="font-weight: normal;">Issuer certificate DN in account</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="F42FAF6B_2C8D_4142_8BD9_E5BCDCAA05AA" readonly="readonly" />
									</div>
								</div>
								<div class="form-group form-group-sm">
									<label for="15FA5B80_8528_4FA1_894F_516FD00D1E8D" class="col-sm-3 control-label" style="font-weight: normal;">Issuer certificate DN is session</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="15FA5B80_8528_4FA1_894F_516FD00D1E8D" readonly="readonly" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="02C7F515_F604_4CDF_868A_D8FFE57F9C01"></div>
			</div>
		</div>
	</div>
</div>
