<table class="table table-sm table-striped table-bordered">
	{% if rows is not empty %}
	<tr>
		{% for field in rows[0].field %}
		{%   if field['@name'] !== 'PROJECT' and field['@name'] !== 'PROCESS' and field['@name'] !== 'AMIENTITYNAME' and field['@name'] !== 'AMIELEMENTID' %}
		{%     if fieldDescriptions.length > loop.index0 %}
		{%       set fieldDescription = fieldDescriptions[loop.index0] %}
		{%     else %}
		{%       set fieldDescription = {                            } %}
		{%     endif %}
		{%     if field['@name'] === primaryField %}
		{%       if showDetails %}
		<th class="text-center xxxxxxxxx">details</th>
		{%       endif %}
		<th class="text-center edit-mode"> tools </th>
		{%     else %}
		<th class="text-center">
			<a href="#" class="text-secondary" data-orderway="DESC" data-row="{{field['@name']}}"><i class="fa fa-chevron-down"></i></a>
			<span{% if fieldDescription['$'] and fieldDescription['$'] !== 'N/A' %} data-toggle="tooltip" data-title="{{fieldDescription['$']|escape}}"{% endif %}>{{field['@name']}}</span>
			<a href="#" class="text-secondary" data-orderway="ASC" data-row="{{field['@name']}}"><i class="fa fa-chevron-up"></i></a>
			{% if showTools %}
			<br />
			{%   if fieldDescription['@field'] %}
			<a href="#" class="text-secondary mx-1" data-action="refine" data-catalog="{{fieldDescription['@catalog']}}" data-entity="{{fieldDescription['@entity']}}" data-field="{{fieldDescription['@field']}}"><i class="fa fa-filter"></i></a>
			{%   endif %}
			{%   if fieldDescription['@statable'] === 'true' %}
			<a href="#" class="text-secondary mx-1" data-action="stats" data-catalog="{{fieldDescription['@catalog']}}" data-entity="{{fieldDescription['@entity']}}" data-field="{{fieldDescription['@field']}}"><i class="fa fa-bar-chart"></i></a>
			{%   endif %}
			{%   if fieldDescription['@groupable'] === 'true' %}
			<a href="#" class="text-secondary mx-1" data-action="group" data-catalog="{{fieldDescription['@catalog']}}" data-entity="{{fieldDescription['@entity']}}" data-field="{{fieldDescription['@field']}}"><i class="fa fa-slack"></i></a>
			{%   endif %}
			{% endif %}
		</th>
		{%     endif %}
		{%   endif %}
		{% endfor %}
	</tr>
	{%   for row in rows %}
	<tr>
		{% for field in row.field %}
		{%   if field['@name'] !== 'PROJECT' and field['@name'] !== 'PROCESS' and field['@name'] !== 'AMIENTITYNAME' and field['@name'] !== 'AMIELEMENTID' %}
		{%     if field['@name'] === primaryField %}
		{%       set elementId = field.$ %}
		{%       if showDetails %}
		<td class="text-center">
			<a href="#" class="text-secondary" data-action="details" data-row="{{elementId}}"><i class="fa fa-arrows-alt"></i></a>
		</td>
		{%       endif %}
		<td class="text-center edit-mode">
			<a href="#" class="text-info" data-action="clone" data-row="{{elementId}}"><i class="fa fa-files-o"></i></a>
			&nbsp;
			<a href="#" class="text-danger" data-action="delete" data-row="{{elementId}}"><i class="fa fa-trash"></i></a>
		</td>
		{%     else %}
		<td>
			<span class="edit-field" data-row="{{elementId}}" data-col="{{field['@name']}}" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">{{field.$}}</span>
		</td>
		{%     endif %}
		{%   endif %}
		{% endfor %}
	</tr>
	{%   endfor %}
	{% endif %}
</table>