{% set primaryIdx = -1 %}
<table class="table table-sm table-striped table-bordered">
	<!-- **************************************************************** -->
	<thead>
		<tr>
			<!-- ******************************************************** -->
			{%   if showDetails %}
			<th class="text-center xxxxxxxxx">details</th>
			{%   endif %}
			<!-- ******************************************************** -->
			<th class="text-center edit-mode"> tools </th>
			<!-- ******************************************************** -->
			{% if fieldDescriptions is not empty %}
			{%   for fieldDescription in fieldDescriptions %}
			{%     if fieldDescription['@field'] === primaryField %}
			{%       set primaryIdx = loop.index0 %}
			{%     endif %}
			<th class="text-center">
				<a href="#" class="text-secondary" data-orderway="DESC" data-row="{{fieldDescription['@field']|e}}"><i class="fa fa-chevron-down"></i></a>
				<span class="text-primary"{% if fieldDescription['$'] is not empty and fieldDescription['$'] !== 'N/A' %} data-toggle="tooltip" data-title="{{fieldDescription['$']|e}}"{% endif %}>{{fieldDescription['@label']|e}}</span>
				<a href="#" class="text-secondary" data-orderway="ASC" data-row="{{fieldDescription['@field']|e}}"><i class="fa fa-chevron-up"></i></a>
				{% if showTools %}
				<br />
				{%   if fieldDescription['@field'] is not empty %}
				<a href="#" class="text-secondary mx-1" data-action="refine" data-catalog="{{fieldDescription['@catalog']|e}}" data-entity="{{fieldDescription['@entity']|e}}" data-field="{{fieldDescription['@field']|e}}"><i class="fa fa-filter"></i></a>
				{%   endif %}
				{%   if fieldDescription['@statable'] === 'true' %}
				<a href="#" class="text-secondary mx-1" data-action="stats" data-catalog="{{fieldDescription['@catalog']|e}}" data-entity="{{fieldDescription['@entity']|e}}" data-field="{{fieldDescription['@field']|e}}"><i class="fa fa-bar-chart"></i></a>
				{%   endif %}
				{%   if fieldDescription['@groupable'] === 'true' %}
				<a href="#" class="text-secondary mx-1" data-action="group" data-catalog="{{fieldDescription['@catalog']|e}}" data-entity="{{fieldDescription['@entity']|e}}" data-field="{{fieldDescription['@field']|e}}"><i class="fa fa-slack"></i></a>
				{%   endif %}
				{% endif %}
			</th>
			{%   endfor %}
			{% else %}
			{%   if rows is not empty %}
			{%     for field in rows[0].field %}
			{%       if field['@name'] !== 'PROJECT' and field['@name'] !== 'PROCESS' and field['@name'] !== 'AMIENTITYNAME' and field['@name'] !== 'AMIELEMENTID' and field['@name'] !== 'AMICREATED' and field['@name'] !== 'AMILASTMODIFIED' and field['@name'] !== 'AMISYSDATE' %}
			<th class="text-center">
				<span class="text-primary">{{field['@name']|e}}</span>
			</th>
			{%       endif %}
			{%     endfor %}
			{%   endif %}
			<!-- ******************************************************** -->
			{% endif %}
		</tr>
	</thead>
	<!-- **************************************************************** -->
	<tbody>
		{% if rows is not empty %}
		{%   for row in rows %}
		<tr>
			<!-- ******************************************************** -->
			{% if showDetails %}
			<td class="text-center xxxxxxxxx">
				{% if primaryIdx >= 0 %}
				<a href="#" class="text-secondary" data-ctrl="elementInfo" data-ctrl-location="container" data-params="[&quot;{{fieldDescriptions[primaryIdx]['@catalog']|e}}&quot;, &quot;{{fieldDescriptions[primaryIdx]['@entity']|e}}&quot;, &quot;{{fieldDescriptions[primaryIdx]['@field']|e}}&quot;, &quot;{{row.field[primaryIdx].$|e}}&quot;]" data-settings="{}" data-icon="arrows-alt" data-title="{{fieldDescriptions[primaryIdx]['@entity']|e}}"><i class="fa fa-arrows-alt"></i></a>
				{% endif %}
			</td>
			{% endif %}
			<!-- ******************************************************** -->
			<td class="text-center edit-mode">
				{% if primaryIdx >= 0 %}
				<a href="#" class="text-info" data-action="clone" data-row="{{row.field[primaryIdx].$|e}}"><i class="fa fa-files-o"></i></a>
				&nbsp;
				<a href="#" class="text-danger" data-action="delete" data-row="{{row.field[primaryIdx].$|e}}"><i class="fa fa-trash"></i></a>
				{% endif %}
			</td>
			<!-- ******************************************************** -->
			{% for field in row.field %}
			{%   if field['@name'] !== 'PROJECT' and field['@name'] !== 'PROCESS' and field['@name'] !== 'AMIENTITYNAME' and field['@name'] !== 'AMIELEMENTID' and field['@name'] !== 'AMICREATED' and field['@name'] !== 'AMILASTMODIFIED' and field['@name'] !== 'AMISYSDATE' %}
			<td class="text-center">
				{% if field.$ starts with '@owner::' %}
				<a href="#" data-action="filter" data-filter-def="{{field.$.substring(8)|e}}">
					<i class="fa fa-link"></i>
				</a>
				{% elseif field.$ === '@NOGO' %}
					<div class="font-italic text-danger">admin only</div>
				{% else %}
				<div class="h-100{% if field['properties'] is defined %}{% for property in field['properties'] %}{% if property['@class'] is not empty %} {{property['@class']}}{% endif %}{% endfor %}{% endif %}"
				     {% if primaryIdx >= 0 and fieldDescriptions[loop.index0]['@catalog'] === catalog and fieldDescriptions[loop.index0]['@entity'] === entity %}
				     data-action="edit"
				     data-catalog="{{fieldDescriptions[loop.index0]['@catalog']|e}}"
				     data-entity="{{fieldDescriptions[loop.index0]['@entity']|e}}"
				     data-field="{{fieldDescriptions[loop.index0]['@field']|e}}"
				     data-type="{{fieldDescriptions[loop.index0]['@type']|e}}"
				     data-row="{{row.field[primaryIdx].$|e}}"
				     {% endif %}
				     style="min-height: 1.25rem;">{{field.$|e}}</div>
				{%   if field['link'] is defined %}
				{%     for link in field['link'] %}
				{%       if not loop.first %} - {% endif %}
				<a href="{{link['@href']|e}}"
				   {% if link['@target'] is not empty %}target="{{link['@target']|e}}"{% endif %}
				   {% if link['@data-ctrl'] is not empty %}data-ctrl="{{link['@data-ctrl']|e}}"{% endif %}
				   {% if link['@data-ctrl-location'] is not empty %}data-ctrl-location="{{link['@data-ctrl-location']|e}}"{% endif %}
				   {% if link['@data-params'] is not empty %}data-params="{{link['@data-params']|e}}"{% endif %}
				   {% if link['@data-settings'] is not empty %}data-settings="{{link['@data-settings']|e}}"{% endif %}
				   {% if link['@data-icon'] is not empty %}data-icon="{{link['@data-icon']|e}}"{% endif %}
				   {% if link['@data-title'] is not empty %}data-title="{{link['@data-title']|e}}"{% endif %}>
					{{link['@label']|e}}
				</a>
				{%     endfor %}
				{%   endif %}
				{% endif %}
			</td>
			{%   endif %}
			{% endfor %}
			<!-- ******************************************************** -->
		</tr>
		{%   endfor %}
		{% else %}
		<tr>
			<td class="text-center text-warning" colspan="100">empty table</td>
		</tr>
		{% endif %}
	</tbody>
	<!-- **************************************************************** -->
</table>