<table class="table table-sm table-striped table-bordered">
	{% if rows is not empty %}
	<tr>
		<th class="text-center xxxxxxxxx">details</th>
		<th class="text-center edit-mode"> tools </th>
		{% for field in rows[0].field %}
		{%   if field['@name'] !== 'PROJECT' and field['@name'] !== 'PROCESS' and field['@name'] !== 'AMIENTITYNAME' and field['@name'] !== 'AMIELEMENTID' and field['@name'] !== 'AMICREATED' and field['@name'] !== 'AMILASTMODIFIED' and field['@name'] !== 'AMISYSDATE' %}
		{%     if fieldDescriptions.length > loop.index0 %}
		{%       set fieldDescription = fieldDescriptions[loop.index0] %}
		{%     else %}
		{%       set fieldDescription = {                            } %}
		{%     endif %}
		<th class="text-center">
			<a href="#" class="text-secondary" data-orderway="DESC" data-row="{{field['@name']|e}}"><i class="fa fa-chevron-down"></i></a>
			<span class="text-primary"{% if fieldDescription['$'] and fieldDescription['$'] !== 'N/A' %} data-toggle="tooltip" data-title="{{fieldDescription['$']|e}}"{% endif %}>{{field['@name']|e}}</span>
			<a href="#" class="text-secondary" data-orderway="ASC" data-row="{{field['@name']|e}}"><i class="fa fa-chevron-up"></i></a>
			{% if showTools %}
			<br />
			{%   if fieldDescription['@field'] %}
			<a href="#" class="text-secondary mx-1" data-action="refine" data-catalog="{{fieldDescription['@catalog']|e}}" data-entity="{{fieldDescription['@entity']|e}}" data-field="{{fieldDescription['@field']|e}}"><i class="fa fa-filter"></i></a>
			{%   endif %}
			{%   if fieldDescription['@statable'] === 'true' %}
			<a href="#" class="text-secondary mx-1" data-action="stats" data-catalog="{{fieldDescription['@catalog']|e}}" data-entity="{{fieldDescription['@entity']|e}}" data-field="{{fieldDescription['@field']|e}}"><i class="fa fa-bar-chart"></i></a>
			{%   endif %}
			{%   if fieldDescription['@groupable'] === 'true' %}
			<a href="#" class="text-secondary mx-1" data-action="group" data-catalog="{{fieldDescription['@catalog']|e}}" data-entity="{{fieldDescription['@entity']|e}}" data-field="{{fieldDescription['@field']|e}}"><i class="fa fa-slack"></i></a>
			{%   endif %}
			{% endif %}
		</th>
		{%   endif %}
		{% endfor %}
	</tr>
	{%   for row in rows %}
	<tr>
		{% for field in row.field %}
		{%   if field['@name'] === primaryField %}
		{%     set elementId = field.$ %}
		{%   endif %}
		{% endfor %}
		<td class="text-center edit-mode">
			<a href="#" class="text-info" data-action="clone" data-row="{{elementId|e}}"><i class="fa fa-files-o"></i></a>
			&nbsp;
			<a href="#" class="text-danger" data-action="delete" data-row="{{elementId|e}}"><i class="fa fa-trash"></i></a>
		</td>
		{% if showDetails %}
		<td class="text-center xxxxxxxxx">
			<a href="#" class="text-secondary" data-action="details" data-row="{{elementId|e}}"><i class="fa fa-arrows-alt"></i></a>
		</td>
		{% endif %}
		{% for field in row.field %}
		{%   if field['@name'] !== 'PROJECT' and field['@name'] !== 'PROCESS' and field['@name'] !== 'AMIENTITYNAME' and field['@name'] !== 'AMIELEMENTID' and field['@name'] !== 'AMICREATED' and field['@name'] !== 'AMILASTMODIFIED' and field['@name'] !== 'AMISYSDATE' %}
		{%     if fieldDescriptions.length > loop.index0 %}
		{%       set fieldDescription = fieldDescriptions[loop.index0] %}
		{%     else %}
		{%       set fieldDescription = {                            } %}
		{%     endif %}
		<td class="text-center">
			<span class="edit-field" data-row="{{elementId|e}}" data-col="{{field['@name']|e}}" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">{{field.$|e}}</span>
			{% if field['link'] is defined %}
			<br />{% for link in field['link'] %}{% if not loop.first %} - {% endif %}<a href="{{link['@href']|e}}" target="_blank">{{link['@label']|e}}</a>{% endfor %}
			{% endif %}
		</td>
		{%   endif %}
		{% endfor %}
	</tr>
	{%   endfor %}
	{% else %}
	<tr>
		<td class="text-center text-warning">empty table</td>
	</tr>
	{% endif %}
</table>