<div class="d-flex" data-ami-command="{{ command|e }}">
	<span class="w-100" style="cursor: pointer;" onclick="commandApp.select('{{ proto|e }}');">
		{{ command|e }}
	</span>
	<a class="flex-shrink-1" href="#" data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="right" data-bs-trigger="focus" data-bs-html="true" data-bs-title="{{ command|e }}" data-bs-content="&lt;pre&gt;{{ help|e }}&lt;/pre&gt;">
		<i class="bi bi-question-circle-fill {% if visible %}text-primary{% else %}text-secondary{% endif %}"></i>
	</a>
</div>
