<div class="card text-center">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item xxxxxxx">
				<a class="nav-link active" href="#D24227B8_6B28_FDE5_ECB1_FEA48971B4F5" role="tab" data-toggle="tab">Missons-Dépôt</a>
			</li>
			<li class="nav-item xxxxxxx">
				<a class="nav-link xxxxxx" href="#D8E175A6_8912_F42D_4C9E_F3E53C2B7125" role="tab" data-toggle="tab">Agate-Dépôt</a>
			</li>
			<li class="nav-item xxxxxxx">
				<a class="nav-link xxxxxx" href="#CE34ECE4_ED1E_317D_D9B6_342E0E92A8B1" role="tab" data-toggle="tab">Planning</a>
			</li>
			<li class="nav-item ml-auto">
				<a class="nav-link xxxxxx" href="#FBAC47A5_22C6_49D6_4D9C_2206B580F44F" role="tab" data-toggle="tab">Mon compte</a>
			</li>
		</ul>
	</div>
	<div class="card-body tab-content">
		<div class="tab-pane active" role="tabpanel" id="D24227B8_6B28_FDE5_ECB1_FEA48971B4F5">
			<div id="E53363E7_B1AA_D1C2_802D_8AADAD5D7F26"></div>
		</div>
		<div class="tab-pane xxxxxx" role="tabpanel" id="FE955BE0_6794_B589_70CB_E2BC42E0AAFD">
			<div id="E60D9F28_3905_1859_F073_DCF37DF5DC91"></div>
		</div>
		<div class="tab-pane xxxxxx" role="tabpanel" id="D8E175A6_8912_F42D_4C9E_F3E53C2B7125">
			<iframe src="subapps/Mission/js/agate-top.html" name="haut" style="border: none; height: 50px; width: 100%;"></iframe>
			<iframe src="https://agate.cnrs.fr/main.php" name="bas" style="border: none; height: 550px; width: 100%;"></iframe>
		</div>
		<div class="tab-pane xxxxxx" role="tabpanel" id="CE34ECE4_ED1E_317D_D9B6_342E0E92A8B1">
			<iframe src="https://agate.cnrs.fr/planning/edit_rapport.php" style="border: none; height: 5000px; width: 100%;"></iframe>
		</div>
		<div class="tab-pane xxxxxx" role="tabpanel" id="FBAC47A5_22C6_49D6_4D9C_2206B580F44F">
			<iframe src="https://agate.cnrs.fr/compte/detail_user.php" style="border: none; height: 350px; width: 100%;"></iframe>
		</div>
	</div>
</div>

<div class="modal fade" id="E41919DC_EC9E_CA85_6CB4_A440E1206F42" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Déposer une mission</h5>
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form id="D686BF9C_8A5E_BC98_526E_D78A0D7029B4" role="tablist">

					<div class="card">
						<div class="card-header" role="tab">
							<h5 class="mb-0">
								<a href="#BC7530BB_D360_BA89_A8AE_FDB54AC360C1" data-toggle="collapse">
									<i class="fa fa-user-circle-o" style="width: 25px;"></i> Étape 1 : Agent
								</a>
							</h5>
						</div>
						<div id="BC7530BB_D360_BA89_A8AE_FDB54AC360C1" class="collapse show" role="tabpanel" data-parent="#D686BF9C_8A5E_BC98_526E_D78A0D7029B4">
							<div class="card-body">

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="FE80AAC1_65C1_178B_0ED4_4932CA1B7B64">Identité<span class="text-danger">*</span></label>
											<input type="text" class="form-control form-control-sm" name="identity" id="FE80AAC1_65C1_178B_0ED4_4932CA1B7B64" readonly="readonly" placeholder="Identité" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="AF7441AA_0478_3B4E_1AF9_A91488B21B36">Grade<span class="text-danger">*</span></label>
											<input type="text" class="form-control form-control-sm" name="grade" id="AF7441AA_0478_3B4E_1AF9_A91488B21B36" required2="required2" placeholder="Grade" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="FAD41475_5320_D7DF_13DF_F72A39C74967">Adresse<span class="text-danger">*</span></label>
											<input type="text" class="form-control form-control-sm" name="address" id="FAD41475_5320_D7DF_13DF_F72A39C74967" required2="required2" placeholder="Adresse" />
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label for="BC8E4644_43E0_3E83_55AC_58B1B247CF6A">Code postal<span class="text-danger">*</span></label>
											<input type="text" class="form-control form-control-sm" name="postal_code" id="BC8E4644_43E0_3E83_55AC_58B1B247CF6A" required2="required2" placeholder="Code postal" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="C3F253B6_4FAD_73C2_95E6_8828857EDE4C">Pays<span class="text-danger">*</span></label>
											<select class="form-control form-control-sm" name="country" id="C3F253B6_4FAD_73C2_95E6_8828857EDE4C" required2="required2">
												<option value="" style="display: none;">---- pays ----</option>
												{% for key in countries %}
												<option value="{{key}}"{% if key === country %} selected="selected"{% endif %}>{{countries[key]}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" role="tab">
							<h5 class="mb-0">
								<a class="collapsed" href="#FA0B3853_D824_5EB0_29F9_9D27E0B2B80B" data-toggle="collapse">
									<i class="fa fa-briefcase" style="width: 25px;"></i> Étape 2 : Mission
								</a>
							</h5>
						</div>
						<div id="FA0B3853_D824_5EB0_29F9_9D27E0B2B80B" class="collapse xxxx" role="tabpanel" data-parent="#D686BF9C_8A5E_BC98_526E_D78A0D7029B4">
							<div class="card-body">

								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<label for="B17DAC9C_6F19_BB8C_DACA_DA1FADC6EE67">Ville ou lieu<span class="text-danger">*</span></label>
											<input type="text" class="form-control form-control-sm" name="to_city" id="B17DAC9C_6F19_BB8C_DACA_DA1FADC6EE67" required2="required2" placeholder="Ville ou lieu" />
										</div>
									</div>
									<div class="col-md-4">

										<div class="form-group">
											<label for="B90C423A_4510_45AA_CDC2_65BF684A1983">Pays<span class="text-danger">*</span></label>
											<select class="form-control form-control-sm" name="to_country" id="B90C423A_4510_45AA_CDC2_65BF684A1983" required2="required2">
												<option value="" style="display: none;">---- pays ----</option>
												{% for key in countries %}
												<option value="{{key}}">{{countries[key]}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<label for="F483AEF1_9CAB_24C8_1494_B8951638DE76">Dates de mission<span class="text-danger">*</span></label>
											<input type="text" class="form-control form-control-sm" name="dates" id="F483AEF1_9CAB_24C8_1494_B8951638DE76" required2="required2" placeholder="Dates de mission" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<label for="DA1D6A5A_5328_5FE7_2CD8_D9B13292048C">Motif<span class="text-danger">*</span></label>
											<select class="form-control form-control-sm" name="identity" id="DA1D6A5A_5328_5FE7_2CD8_D9B13292048C" required2="required2"></select>
										</div>
									</div>
									<div class="col-md-9">
										<div class="form-group">
											<label for="BE2F1A54_1692_ED3B_4A34_0BBFBC2B28AB">Détail<span class="text-danger">*</span></label>
											<input type="text" class="form-control form-control-sm" name="detail" id="BE2F1A54_1692_ED3B_4A34_0BBFBC2B28AB" required2="required2" placeholder="Détail" />
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" role="tab">
							<h5 class="mb-0">
								<a class="collapsed" href="#ED85F65E_459F_405F_17E9_0008FA6D2AA9" data-toggle="collapse">
									<i class="fa fa-plane" style="width: 25px;"></i> Étape 3 : Transport
								</a>
							</h5>
						</div>
						<div id="ED85F65E_459F_405F_17E9_0008FA6D2AA9" class="collapse xxxx" role="tabpanel" data-parent="#D686BF9C_8A5E_BC98_526E_D78A0D7029B4">
							<div class="card-body">

								<div class="row">
									<div class="col-md-4">
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="travel_car_perso" id="B87BA1D3_9B98_A6CF_4571_EF1F8CD3D687" />
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Véhicule Perso.</span>
										</label>
									</div>
									<div class="col-md-8">
										<div class="form-group row">
											<label for="E596D471_C34D_34EA_0323_ABE2E3B5CF8B" class="col-sm-5 col-form-label col-form-label-sm">Immatriculation</label>
											<div class="col-sm-7">
												<input type="text" class="form-control form-control-sm" name="travel_car_perso_registration" id="E596D471_C34D_34EA_0323_ABE2E3B5CF8B" disabled="disabled" required="required" placeholder="Immatriculation">
											</div>
										</div>
										<div class="form-group row">
											<label for="F9EE0F3B_4DC8_2AA0_65FA_B1682FE7F7F2" class="col-sm-5 col-form-label col-form-label-sm">Distance estimée [km]</label>
											<div class="col-sm-7">
												<input type="number" class="form-control form-control-sm" name="travel_car_perso_distance" id="F9EE0F3B_4DC8_2AA0_65FA_B1682FE7F7F2" disabled="disabled" required="required" placeholder="Distance estimée [km]">
											</div>
										</div>
										<label class="custom-control custom-radio">
											<input type="radio" class="custom-control-input" name="travel_car_perso_refund" value="0" id="C66E4AC8_B835_7A66_5E47_EA8D6CEB82F3" disabled="disabled" required="required" />
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Remboursement tarif train</span>
										</label>
										<label class="custom-control custom-radio">
											<input type="radio" class="custom-control-input" name="travel_car_perso_refund" value="1" id="D7F86539_24DF_0F1F_B43C_44E7C643433C" disabled="disabled" required="required" />
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Remboursement tarif kilométrique</span>
										</label>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="travel_car_admin" id="D697A2D1_4F94_F432_40FA_A3AA8457774D" />
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Véhicule Admin.</span>
										</label>
									</div>
									<div class="col-md-8">
										<select class="form-control form-control-sm" name="ravel_car_admin_name" id="DC232684_8D16_94C9_E052_09C48C0C13EA" disabled="disabled" required="required">
											<option value="" style="display: none;">---- véhicule admin. ----</option>
											{% for key in cars_admin %}
											<option value="{{key}}">{{cars_admin[key]}}</option>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="travel_car_rent" id="A084B966_3009_7602_986A_315BCB405A2C" />
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Véhicule Location</span>
										</label>
									</div>
									<div class="col-md-8">
										<!-- DO NOTHING -->
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="travel_train" id="E1253425_A37F_B593_9B88_865504819C55" />
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Train</span>
										</label>
									</div>
									<div class="col-md-8">
										<!-- DO NOTHING -->
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="travel_plane" id="CE7FD164_3A1F_57F7_A686_42975C7C72B6" />
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Avion</span>
										</label>
									</div>
									<div class="col-md-8">
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="ravel_car_A" id="BF9C7CBC_E136_21B5_8FD8_96A58B280172" disabled="disabled" required="required" />
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Navette aéroport allé</span>
										</label>
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="ravel_car_B" id="F32AF0E3_F12C_FC02_089D_9AD926709A89" disabled="disabled" required="required" />
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Navette aéroport retour</span>
										</label>
									</div>
								</div>


								<div class="row">
									<div class="col-md-4">
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="travel_other" id="F7F9E6AB_0A80_41F2_D1FA_D4482E3A3FE3" />
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Autre</span>
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control form-control-sm" name="ravel_other_reason" id="F2D2AADB_D25D_FF8B_EC6B_0715CDC1E008" disabled="disabled" required="required" placeholder="Précisions" />
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" role="tab">
							<h5 class="mb-0">
								<a href="#A6289A2D_AA29_950B_7081_4BDC237DC76D" data-toggle="collapse">
									<i class="fa fa-check-square-o" style="width: 25px;"></i> Étape 4 : Validation
								</a>
							</h5>
						</div>
						<div id="A6289A2D_AA29_950B_7081_4BDC237DC76D" class="collapse xxxx" role="tabpanel" data-parent="#D686BF9C_8A5E_BC98_526E_D78A0D7029B4">
							<div class="card-body">

								<div class="form-group">
									<label for="C94FC745_4119_0F86_00A7_B2C1A8DAD2E7">Groupe ou service<span class="text-danger">*</span></label>
									<select class="form-control form-control-sm" name="group" id="C94FC745_4119_0F86_00A7_B2C1A8DAD2E7" required2="required2"></select>
								</div>

								<div class="form-group">
									<label for="D8213128_364A_D752_3008_3827E5316FD1">Observations</label>
									<textarea class="form-control" name="comment" id="D8213128_364A_D752_3008_3827E5316FD1" rows="3"></textarea>
								</div>

								<div class="text-right">
									<button type="submit" class="btn btn-success">Déposer la mission</button>
								</div>

							</div>
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>