<script type="text/javascript" src="{{ORIGIN_URL}}/js/jquery.min.js"></script>

<script type="text/javascript" src="{{ORIGIN_URL}}/js/ami.min.js?bootstrap={{BOOTSTRAP_VERSION}}&embedded"></script>

<script type="text/javascript">

	var myElementInfo;

	amiWebApp.onRefresh = function(isAuth) {

		if(isAuth)
		{
			myElementInfo.render('#myElementInfo', '{{ immutables.catalog|e('js') }}', '{{ immutables.entity|e('js') }}', '{{ immutables.primaryFieldName|e('js') }}', '{{ immutables.primaryFieldValue|e('js') }}', {
				elementInfoCommandFunc: {{ options.elementInfoCommandFunc.toString() }},
				/**/
				enableCache: {{ options.enableCache }},
				/**/
				expandedLinkedElements: [{{ options.expandedLinkedElements|join(', ')|e('js') }}],
				/**/
				showPrimaryField: {{ options.showPrimaryField }},
				showToolBar: {{ options.showToolBar }},
				canEdit: {{ options.canEdit }},
				/**/
				enableEditMode: {{ options.enableEditMode }},
				/**/
				hideBigContent: {{ options.hideBigContent }},
				maxCellLength: {{ options.maxCellLength }},
				/**/
				card: {{ options.card }},
			});
		}
		else
		{
			$('#myElementInfo').empty();
		}
	};

	amiWebApp.onReady = function() {

		return amiWebApp.loadResources(['ctrl:elementInfo']).done(function(ctrls) {

			myElementInfo = new ctrls[0];
		});
	};

	amiWebApp.start({
		endpoint_url: '{{endpoint}}'
	});

</script>

<!-- Add your own style -->
<ul id="ami_login_menu_content"></ul>

<div id="myElementInfo"></div>
